<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>User Email</th>
   </tr>
  </thead>
  <tbody>
    <% @admin_authority_group.associated_group.members.each do |member| %>
        <tr>
          <td><%= member.user.username %></td>
          <td><%= member.name %></td>
          <td><%= member.email %></td>
        </tr>
    <% end %>
  </tbody>
</table>
