 <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

   <tbody>
    <%= render partial: 'authority_groups_list' %>
  </tbody>
</table>
