<% content_for :page_title, construct_page_title('Edit Authority Groups') %>
<% content_for :page_header do %>
  <ul class="breadcrumb">
    <li><%= link_to 'CurateND', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Authority Groups List', admin_authority_groups_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Show Group', admin_authority_group_path(@admin_authority_group) %> <span class="divider">/</span></li>
    <li><span class="active">Edit</span></li>
  </ul>

  <h1>Edit Authority Group</h1>
<% end %>

<div>
  <h5>
    <p><b>Authority Group Name</b> must be unique and must match the name defined in the <b>Controlling Class</b> if a <b>Controlling Class</b> is given. A group without a valid <b>Controlling Class</b> does nothing.</p>
  </h5>
</div>

<%= render 'form' %>
