<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('About') %>
<% content_for :page_header do %>
  <h1 class="center">CurateND is Research Data Management</h1>
<% end %>

<article class="about-curatend">
  <blockquote>
    <p>
      Do you have a grant funded project that requires sharing your data?<br />
      Do you need a <abbr title="Digital Object Identifier">DOI</abbr> for your work?<br />
      Are you worried about finding your data in 5 or 10 years?<br />
      Do you need to publish your data but you are not sure how?
    </p>
  </blockquote>

  <h2 id="features">What Can CurateND Do?</h2>
  <p>
    <a href="https://curate.nd.edu/">CurateND</a> is a repository built to support publications, research data, and digital humanities projects.
  </p>

  <div class="row-fluid">
    <div class="span6">
      <h3>Deposit</h3>
      <p>
        You can securely store, retrieve, and share files of any format.
        We provide provide tailored experiences for describing and sharing content of many types including: datasets, articles, images, whitepapers, and presentations.
      </p>
    </div>

    <div class="span6">
      <h3>Share</h3>
      <p>
        CurateND was created to help fulfill data sharing mandates like those of the <a href="https://www.nsf.gov/bfa/dias/policy/dmp.jsp"><abbr title="National Science Foundation">NSF</abbr></a> and the <a href="https://grants.nih.gov/grants/policy/data_sharing/"><abbr title="National Institutes of Health">NIH</abbr></a>.
        Content deposited in CurateND can be restricted to private access, campus access, or be shared as open access.
      </p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <h3>Embargo</h3>
      <p>
        Do you need keep your data private while you have an article, dissertation, or other work in progress?
        No problem.
        You can embargo your data in CurateND until any date in the future and rest easy knowing your data is being preserved and protected.
      </p>
    </div>

    <div class="span6">
      <h3>Cite</h3>
      <p>
        CurateND can create a <a href="http://simple.wikipedia.org/wiki/Digital_object_identifier"><abbr title="Digital Object Identifier">DOI</abbr></a> linking to your work on your behalf.
        A <a href="http://simple.wikipedia.org/wiki/Digital_object_identifier"><abbr title="Digital Object Identifier">DOI</abbr></a> is a great way to cite your data in publications and it makes it easy for others to cite your work.
      </p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <h3>Highlight</h3>
      <p>
        You can showcase your work on your personal profile page.
      </p>
    </div>

    <div class="span6">
      <h3>Preserve</h3>
      <p>
        CurateND gives you the peace of mind that you can always find your work in the future.
        We back up your data and guard against corruption.
        And, should the need arise, we will migrate files to new formats to ensure continued access and usability.
      </p>
    </div>
  </div>

  <h2 id="get-started">Get Started</h2>
  <p>
    If you are a part of the Notre Dame campust communioty you can <%= link_to 'sign in', new_user_session_path %> and start adding content using the &#8220;<strong>+</strong>&#8221; button.
  </p>

</article>
