<% content_for :page_title, construct_page_title('About') %>
<% content_for :page_header do %>
  <h1>About CurateND</h1>
<% end %>

<%# TODO: have someone write something for this %>
<article class="wide-text">
  <%= render 'catalog/home_text' %>
</article>
