<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('Beta') %>
<% content_for :page_header do %>
  <h1 class="center">CurateND <strong>BETA</strong></h1>
<% end %>

<article class="curatend-beta">
  <h2 id="wip">CurateND is a Work in Progress</h2>
  <p>
    We have been working on CurateND for a while.
    We aren&#8217;t done yet but we think what we already have can be useful.
  </p>
  <p>
    We will be making changes over the coming months to improve our existing services and add new funcationaltiy.
    If you would like to hear about our progress contact <a href="mailto:rick.johnson@nd.edu?subject=CurateND Beta">Rick Johnson</a>.
  </p>

  <h2 id="future">Our Plan</h2>
  <p>
    <%= link_to 'See more information about what we are building.', about_path %>
  </p>
</article>
