<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('Beta') %>
<% content_for :page_header do %>
  <h1 class="center">CurateND <strong>BETA</strong></h1>
<% end %>

<article class="curatend-beta">
  <h2 id="wip">CurateND is a Work in Progress</h2>
  <p>
    We have invested a lot of time in CurateND to try to make it useful and approachable.
    We will keep making changes over the coming months to improve our existing services and add new functionality.
  </p>
  <p>
    If you would like to hear about our progress please contact <a href="mailto:rick.johnson@nd.edu?subject=CurateND Beta">Rick Johnson</a>.
  </p>

  <h2 id="future">Our Plan</h2>
  <p>
    For a description about the services we are trying to provide see <%= link_to 'the &#8220About&#8221 page'.html_safe, about_path %>.
  </p>
</article>
