<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('Beta') %>
<% content_for :page_header do %>
  <h1 class="center">CurateND <strong>BETA</strong></h1>
<% end %>

<article class="curatend-beta">
  <h2 id="early-adopters">CurateND <strong>BETA</strong> and Early Adopters</h2>
  <p>
    CurateND was built in partnership with our many Early Adopters, representing teaching and research faculty from across the University of Notre Dame. The result is a robust research portal designed for self-deposit of faculty and student research results and associated data.
  </p>
  <p>
    In keeping with trends for top research universities and thanks to the collaboration of many, CurateND is a place where Notre Dame&rsquo;s unique research and scholarship can be managed and preserved so that it can be discovered and shared for study throughout time.
  </p>
  <p>
    In advance of the official campus launch in February, 2015, ongoing beta testing with Early Adopters will support the evolution of core services and identification of new features.
  </p>
  <p>
    If you are interested in becoming an Early Adopter, contact <a href="mailto:rick.johnson@nd.edu?subject=Early%20Adopter%20Inquiry">Rick Johnson</a>.
  </p>

  <h2 id="services">CurateND <strong>BETA</strong> Core Services</h2>
  <p>
    To learn more about services and features, see <%= link_to 'About', about_path %> or contact <a href="mailto:rick.johnson@nd.edu?subject=CurateND%20Services">Rick Johnson</a>.
  </p>
</article>
