<%
  content_for :page_title, construct_page_title('Contribute')
  content_for :page_main_class, 'contributing'
%>
<header class="contributing-header">
  <h1 class="svg-title">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="faq-title" viewBox="0 0 500 60" preserveAspectRatio="xMinYMin meet">
      <path fill="#001f42" d="M41.377,43.767c5.25,0,7.55-1.949,8.25-6.6l7.05,0.75c-0.8,7.5-5.3,12.351-15.301,12.351c-12,0-16.701-8.051-16.701-20.201c0-12.151,4.701-20.202,16.701-20.202c10,0,14.501,4.851,15.301,12.351l-7.05,0.75c-0.7-4.65-3-6.601-8.25-6.601c-8,0-9.551,6.45-9.551,13.701C31.827,37.316,33.377,43.767,41.377,43.767z"/>
      <path fill="#001f42" d="M66.476,30.066c0-12.301,5.15-20.202,17.501-20.202c12.351,0,17.501,7.901,17.501,20.202s-5.15,20.201-17.501,20.201C71.626,50.268,66.476,42.367,66.476,30.066z M73.577,30.066c0,7.4,2.05,13.7,10.401,13.7c8.35,0,10.351-6.3,10.351-13.7s-2-13.701-10.351-13.701C75.627,16.365,73.577,22.666,73.577,30.066z"/>
      <path fill="#001f42" d="M122.427,29.466l-3.85-6l0.1,9.351v16.751h-7V10.565h6.45l13.451,20.101l3.85,6.001l-0.1-9.351V10.565h7v39.002h-6.45L122.427,29.466z"/>
      <path fill="#001f42" d="M170.277,49.567h-7V17.065h-11.351v-6.5h29.702v6.5h-11.351V49.567z"/>
      <path fill="#001f42" d="M199.227,49.567h-7V10.565h16.101c6.75,0,13.25,2.25,13.25,11.851c0,6.9-3.35,9.95-7.7,11.101l9.451,16.051h-8.201l-8.75-15.301h-7.15V49.567z M208.777,27.716c2.45,0,5.65-0.45,5.65-5.3c0-4.9-3.2-5.351-5.65-5.351h-9.55v10.65H208.777z"/>
      <path fill="#001f42" d="M241.876,49.567h-7V10.565h7V49.567z"/>
      <path fill="#001f42" d="M254.825,49.567V10.565h16.701c4.95,0,11.601,1.8,11.601,10.8c0,4.051-1.75,6.601-3.55,7.751c2.75,1.15,4.8,4.351,4.8,9.051c0,9.5-6,11.4-12.601,11.4H254.825z M261.826,17.065v9.301h9.2c3,0,4.9-0.9,4.9-4.751c0-3.75-1.85-4.55-4.9-4.55H261.826z M271.427,43.067c2.3,0,5.8-0.301,5.8-5.001s-3.05-5.2-5.6-5.2h-9.801v10.201H271.427z"/>
      <path fill="#001f42" d="M295.875,35.316V10.565h7v24.751c0,4.75,1.5,8.45,8.9,8.45s8.901-3.7,8.901-8.45V10.565h7v24.751c0,8.501-3.75,14.951-15.901,14.951C299.625,50.268,295.875,43.817,295.875,35.316z"/>
      <path fill="#001f42" d="M355.226,49.567h-7V17.065h-11.351v-6.5h29.701v6.5h-11.351V49.567z"/>
      <path fill="#001f42" d="M384.875,49.567h-7.001V10.565h7.001V49.567z"/>
      <path fill="#001f42" d="M409.574,29.466l-3.851-6l0.101,9.351v16.751h-7.001V10.565h6.451l13.45,20.101l3.851,6.001l-0.1-9.351V10.565h7v39.002h-6.45L409.574,29.466z"/>
      <path fill="#001f42" d="M456.875,43.767c3.8,0,6.65-0.699,8.65-1.8v-7.851h-7.95v-6.25h14.9v18.301c-5.4,3.351-9.9,4.101-15.601,4.101c-12.001,0-17.201-8.001-17.201-20.201c0-12.151,5.2-20.202,17.201-20.202c10.001,0,15.001,4.851,15.801,12.351l-7.05,0.75c-0.7-4.65-3.501-6.601-8.751-6.601c-8,0-10.051,6.45-10.051,13.701C446.824,37.316,448.875,43.767,456.875,43.767z"/>
      <text fill="transparent" transform="matrix(5.5 0 0 3.2 22 50)">CONTRIBUTING</text>
    </svg>
  </h1>
</header>

<article>
  <h2>Can I contribute to CurateND?</h2>
  <p>
    CurateND takes contributions from people who are affiliated with the University of Notre Dame.
    The <a href="/policies/designated-communities">designated communities policy</a> outlines the various eligible groups.
  </p>

  <h2>What can I put in CurateND?</h2>
  <p>
    CurateND stores and disseminates scholarly work.
    Our <a href="/policies/content">content in scope policy</a> describes what an appropriate deposit looks like in more detail.
  </p>

  <h2>What do I need to get started?</h2>
  <p>
    CurateND is meant to house <em>finished</em> work.
    Have a preprint or otherwise finalized representation of your work ready for upload.
  </p>
  <p>
    We will ask you to describe your work. Be prepared to answer a few questions.
  </p>

  <h3>Please note</h3>
  <p>
    CurateND stores some personal information so your work can be properly cited by others.
    We ask for contact information so we can relay questions and requests to you if need be.
  </p>

  <% unless current_user && current_user.orcid_id.present? %>
    <p>
      <% if current_user && current_user.user_does_not_require_profile_update %>
        The <%= link_to 'ORCID settings page', orcid_settings_path %> allows you to associate an existing ORCID with your account.
        You will need your ORCID credentials to certify that you have an existing ORCID.
        You can create a new ORCID from the <%= link_to 'ORCID settings page', orcid_settings_path %> if you don&rsquo;t have one.
      <% else %>
        You can link an <a href="http://orcid.org/">ORCID</a> with your profile in CurateND.
        If you already have an ORCID please have your credentials ready.
      <% end %>
    </p>
  <% end %>

  <div class="call-to-action">
    <%= link_to deposit_path, class: 'btn btn-primary btn-lg emphatic-action with-chevron' do %>
      Get Started
      <span class="chevron-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="chevron" viewBox="0 0 54 54" preserveAspectRatio="xMinYMin meet">
          <style type="text/css">polygon { fill: #FFF; }</style>
          <polygon points="0,0 18,0 27,27 18,54 0,54 9,27"/>
          <polygon points="27,0 45,0 54,27 45,54 27,54 36,27"/>
        </svg>
      </span>
    <% end %>
  </div>
</article>
