<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('FAQs') %>
<% content_for :page_header do %>
<h1 class="center">Frequently Asked Questions about CurateND</h1>
<% end %>

<article class="curatend-faqs">
  <h3>Help Getting Started</h3>
  <ul>
    <li><a href="https://docs.google.com/document/d/1Sb3Sw_oqQBZX3J4yz0PltsgS2FnPSyLF1ULRzi8SmRA/pub">How do I set up my account?</a></li>
    <li>How do I deposit a work?</li>
    <li><a href="https://docs.google.com/a/nd.edu/document/d/1JwZ6NXduQmsSJi5c8CnlQzkYeAX03adsgY0q5diy-B0/pub">How do I relate a work?</a></li>
    <li><a href="https://docs.google.com/document/d/1N2itt5_9ZraokPqvbC_Dau2KVPdkonlcPAwqF80bFqw/pub">How do I delete a work?</a></li>
    <li><a href="https://docs.google.com/a/nd.edu/document/d/1fV4XoImyLFxMoUC5t2fIi0_4Ym5mPCyudyhMGbffYNs/pub">How do I create a collection?</a></li>
    <li><a href="https://docs.google.com/document/d/1ZCHnGU2h2fRmxUtLOBfOjdqBCOG9abAcQrS_Dm34KbY/pub">How do I update my user profile?</a></li>
    <li><a href="https://docs.google.com/a/nd.edu/document/d/10gJ2924B9LtMoG9FpKNZXGgGO1cSyxq1mvLI1Yolst8/pub">How do I assign a delegate?</a></li>
    <li><a href="https://docs.google.com/document/d/1qDUmRHcGaCurbWZuMqZXR4X1SWVABFVvn-miLvPHMGo/pub">How do I create a group?</a></li>
    <li>How do I report a problem?</li>
  </ul>
  <h3>Frequently Asked Questions about CurateND</h3>
  <dl>
    <dt>What are persistent URLs?</dt><dd>A persistent URL is a URL that does not break. It is expected to work and return documents from CurateND for a long time, where a “long time” is defined at decades.</dd>
    <dt>What is a DOI?</dt><dd>This is an acronym for “digital object identifier”, and it is a long-term sustainable URL. Every item in CurateND which also includes a value for “publisher” will be assigned a DOI.</dd>
    <dt>How long is long term?</dt><dd>Compared to books, computers are the mere infants on the block, but that said, “long term” when it comes to computers is measured in decades.</dd>
    <dt>What is a Creative Commons license?</dt><dd>The Creative Commons license is really a set of license attributes denoting degrees of permission. Some of these permissions include attribution, commercial use and re-use, monetary exchange, etc.</dd>
    <dt>How does someone find something that was self-submitted?</dt><dd>All things in CurateND should be indexed and therefore findable through the system’s search engine.</dd>
    <dt>How do I load large numbers of collections or files?</dt><dd>At the time of this writing, the batch ingest of files is still in development. If you have a large number of files -- more than a dozen or so -- then please contact CurateND support, and we will work with you directly.</dd>
    <dt>Is there a priority list or order for what can be archived?</dt><dd>The short answer to this question is, “No”. The long answer is, “If you are an individual and you have individual things to contribute, then by all means, please do. If you have many things to contribute, then let’s work together to get started.”</dd>
    <dt>Does preservation include the integrity of the documents themselves? No one will edit?</dt><dd>Yes, preservation takes into consideration the actual bits making up the files, as well as managing who edits the files and their metadata. The data itself is regularly duplicated and refreshed. Once files are added to CurateND, they are never edited nor deleted. Instead additional copies of files are created and maintained.</dd>
    <dt>What is the process for digitizing different collections from departments?</dt><dd>This process will vary from department to department. If you have content that needs digitizing and then put into CurateND, then contact CurateND support, and you will be pointed in the right direction.</dd>
    <dt>Is there a concern that there will be a lot of junk data submitted? Will there be content review?</dt><dd>Yes, there is a review process. Content that is deposited into CurateND is examined for various characteristics such as completeness and academic integrity.</dd>
    <dt>If you choose private but want to add collaborators outside of campus how can that be done?</dt><dd>As of this writing, outside collaborators are not able to do anything but read content from the repository. In the near future -- less than a year -- outside collaborators will have access through ORCID, a type of unique identifier for researchers.</dd>
    <dt>Is there a work type for unpublished materials?</dt><dd>No, items in the repository are centered around specific formats such as articles, books, data sets, collections, etc. Pick the format that most closely matches your unpublished materials in order to deposit them.</dd>
    <dt>Can anyone outside of ND deposit works?</dt><dd>No.</dd>
    <dt>Can you delete works?</dt><dd>No, not really. CurateND is a repository, similar to a print journal. Once printed and distributed, the publisher can not take it back. Instead, items in the repository can be restricted to nobody’s use sans the original depositor. If something is deposited incorrectly, please contact CurateND support.
    <dt>If someone leaves ND, or when students graduate, will they still have access to CurateND?</dt><dd>As long as the person retains their NetID and/or as long as person has an ORCID, then they ought to be able to have access to CurateND.</dd>
    <dt>Can you search by academic department?</dt><dd>No, not yet.</dd>
    <dt>Can you export your profile page?</dt><dd>No, this is not a feature of the repository.</dd>
    <dt>Will CurateND be indexed by search engines?</dt><dd>Yes, most definitely. This is one of the inherent purposes of the repository.</dd>
    <dt>What is the difference between an article and a document?</dt><dd>An article is a type of document. Other types of documents may include a poster, an image, a spreadsheet, etc.</dd>
    <dt>Once you have created a profile can you place the link to your profile on any webpage and drive people to it?</dt><dd>Yes, because your profile’s URL is persistent.</dd>
    <dt>If contributors are outside the university, would they be able to create their own researcher profile?</dt><dd>No, not at this time, but maybe after ORCIDs are implemented.</dd>
    <dt>Is research done at the university property of the university or researcher?</dt><dd>This is a question we are unable to answer authoritatively, but in general, faculty research output is the property of the author.</dd>
  </dl>
</article>
