<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Authoritative Source', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">CurateND Authoritative Source Location Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2016-11-18">November 18, 2016</time></p>

  <p>If a depositor intends for CurateND to be the primary preservation and/or access location (i.e., source of record), it is the responsibility of the depositor to keep the copy within CurateND up-to-date.  Consistent with our <%= link_to 'Format Migration', named_policy_path('preservation-migration') %> and <%= link_to 'Content Review and Retention', named_policy_path('retention-review') %> policies, we will make reasonable efforts to continue access to deposited content.</p>
</article>
