<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('Policies // CurateND')  %>
<% content_for :page_header do %>
<h1 class="center">Policies</h1>
<% end %>

<p><%= link_to 'Return to Policy List', policies_path %></p>

<article id="support" class="policy">
  <h2>General Support Policy for Depositors</h2>
  <p>Effective Date: July 7th, 2015</p>

  <p>Uploaded works must go through a multi-step review process that includes factors such as appropriateness of content according to the <%= link_to 'CurateND Content in Scope Policy', named_policy_path('content') %>, rights management, and metadata review. This process helps us fulfill our promise to help you manage and preserve your works so that they are globally discoverable, accessible, and sharable.</p>

  <p>For those who choose to self-deposit, please know that we will review your submission, and may contact you with questions or recommendations. If your project is especially complex or you are unsure of any aspect of the process, a member of the CurateND team will help you prepare and deposit your work(s) and associated data.</p>
</article>
