<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Preservation and Migration', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">CurateND Content Format Preservation and Migration Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2015-07-16">July 16, 2015</time></p>

  <p>Except for content withdrawn as a result of either the <%= link_to 'Retention and Review Policy', named_policy_path('retention-review') %> or the Content Withdrawal Policy, CurateND will provide a basic level of preservation for content deposited. This level of preservation includes multiple, geographically diverse copies of content, secure storage, file corruption detection and repair (fixity checking), regular migration to newer storage media as needed, and a persistent identifier for the content and its metadata.</p>

  <p>The original deposited files may be copied or enhanced to provide ongoing access or to ensure long-term preservation of the content. Periodic format reviews of deposited content will be done to determine if content migration is needed; if so, CurateND will attempt to migrate content using current best practices and standards in digital preservation.</p>

  <p>As a general rule, CurateND staff will seek to migrate proprietary file types to industry standard file types whose specifications are open and maintained by standards organizations. CurateND may apply normalization rules to deposited content of a particular file type so that it can be supported indefinitely. For example, graphic files that are originally GIF files may be converted to a TIFF file format, and Microsoft Word documents (.doc) or other text-based documents or files could be converted to PDF/A, the ISO archival standard for the Portable Document Format. This may or may not happen at the time of ingest. In addition to migrating deposited content to preservation formats, CurateND staff reserve the right to migrate file types for continued access to the deposited content. During any migration process, CurateND will continue to preserve the initially deposited files in their original file formats.</p>

  <p>Some file formats, such as executable programs and files relying on specific hardware/software environments, will require additional evaluation because the access environment also must be considered in making a preservation determination.</p>

  <p>A few files may have additional copies in or be exported to other repositories, such as HathiTrust, or APTrust. Criteria for choosing the export locations for a file are given in the <%= link_to 'Preservation Export and Replication Policy', named_policy_path('backup-location') %>.</p>
</article>
