<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Retention and Review', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">Retention and Review of CurateND Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2016-06-10">June 10th, 2016</time></p>

  <p>CurateND is intended to provide permanent access to and preservation of content deposited in the repository.  As a member of a global family of institutional repositories, CurateND also aspires to provide uncensored open access to its content. There are instances, however, when content may need to be removed from the repository.
  </p>

  <h3>Content Preserved in Perpetuity</h3>
  <p>Any materials deposited in CurateND meeting the following conditions will be retained in perpetuity without need of review.
  </p>
  <ul>
    <li><strong>Persistent identifiers and related metadata: </strong>All persistent identifiers such as DOIs and PURLs, related records, and other metadata (i.e. descriptive information) will be preserved regardless of continued preservation decisions of any associated files.</li>
    <li><strong>Work types the University is committed to preserve: </strong>Certain works such as theses and dissertations, articles, library curated collections, or related files will be retained in perpetuity regardless of other conditions laid out here.</li>
    <li><strong>Open access files (or sets of files) smaller than CurateND Size threshold: </strong>Any files or sets of files attached to a publicly accessible work (and thus publicly accessible metadata) smaller than the size threshold defined below will be retained in perpetuity.</li>
  </ul>

  <h3>Content Reviewed Periodically</h3>

  <p>
    Any content that does not meet the above conditions will be reviewed for retention by the CurateND team, as summarized in this table. More information about the review periods and the types of review is included below.
  </p>

  <table class="table">
    </tr>
      <th>Metadata access</th>
      <th>Content access</th>
      <th>Review period</th>
      <th>Types of review</th>
    </tr>
    <tr>
      <td>Private</td>
      <td>Private</td>
      <td>Every 5 years</td>
      <td>Scholarly value; sponsor requirements; increase access</td>
    </tr>
    <tr>
      <td>Univ. of Notre Dame</td>
      <td>Private</td>
      <td>Every 5 years</td>
      <td>Scholarly value; sponsor requirements; increase access</td>
    </tr>
    <tr>
      <td></td>
      <td>Univ. of Notre Dame</td>
      <td>Every 10 years</td>
      <td>Scholarly value; sponsor requirements; increase access</td>
    </tr>
    <tr>
      <td>Open access</td>
      <td>Private</td>
      <td>Every 5 years</td>
      <td>Scholarly value; sponsor requirements; increase access</td>
    </tr>
    <tr>
      <td></td>
      <td>Univ. of Notre Dame</td>
      <td>Every 10 years</td>
      <td>Scholarly value; sponsor requirements; increase access</td>
    </tr>
    <tr>
      <td></td>
      <td>Open access</td>
      <td>Every 10 years</td>
      <td>Size threshold; scholarly value; sponsor requirements</td>
    </tr>
  </table>

  <h3>Review Periods</h3>

  <p>Content (and associated metadata) not retained in perpetuity will be reviewed every 5 or 10 years, as indicated above.  The clock starts from the year that the content was deposited.  For example, if private content with private metadata is deposited in CurateND in 2017, it will be reviewed in 2022, 5 years after depositing.
  </p>

  <h3>Types of Review</h3>

  <h4>Scholarly Value Determination</h4>
  <p>In consultation with the content owner, if possible, a library subject specialist, related campus department, or other domain expert will make a determination for continued retention.  If none of these individuals or groups can be contacted or make a determination, the University Committee on Libraries (UCL) will be consulted.  The determination to continue preservation will be made based on at least the following criteria:
  </p>

  <ul>
    <li>Have past usage rates via CurateND been high or low?</li>
    <li>Is content likely to be used, or continue to be used in the future (i.e., has the content been superseded by other scholarship)?</li>
    <li>Is the content deemed especially rare, ephemeral, unique, or significant?</li>
  </ul>

  <p><strong>Please note: </strong>Any work with metadata marked private (and thus with private content) may be removed if further preservation requirements are not documented or cannot be proven by content owners.
  <br><strong>Also note: </strong>CurateND will make reasonable efforts to contact content owners based on available information.  If content owners cannot be reached, the Hesburgh Libraries will make the final determination as to whether content should continue to be preserved.</p>

  <h4>Size Threshold</h4>
  <p>CurateND will maintain a size threshold for a single file.  Currently, this size threshold is 50 GB.  This size threshold itself will be periodically reviewed and extended based on technological advancements.
  </p>

  <h4>Research Sponsor Retention Requirements</h4>
  <p>If research funding or other project requirements deem that content needs to be preserved for a specified amount of time, the CurateND team will do so depending on the resource support needed for that content.
  </p>

  <p><strong>Please note: </strong>If the content has preservation requirements, but does not meet the scholarly value determination, exceeds the current size threshold, and was deposited more than 10 years ago, the CurateND team may seek compensation from the content owner in order to continue preserving the content.
  </p>

  <h4>Increase Access</h4>
  <p>For all content reviewed that is not open access (it is assumed open access content will also have open access metadata)), the content owner or proxy will be asked to increase access to at least the next level, if copyright or other circumstances allow.  For example, can private metadata be made accessible to the University of Notre Dame?  Or if content is accessible to the University, can it be made open access?
  </p>
</article>
