<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Disaster Recovery', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">CurateND Disaster Recovery Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2016-08-30">August 30, 2016</time></p>

  <p>The CurateND team shall create and maintain a disaster recovery plan, to be reviewed on a yearly basis. The plan will take into account both data loss and access loss situations and should address the following points at a minimum:</p>

  <ul>
    <li>A description of the data replication strategy, along with a description on how to check that data is being replicated.</li>
    <li>A description on how and when data integrity is verified.</li>
    <li>How data will be recovered in the event of data loss (either the whole repository, or a part)</li>
    <li>A description of how the main CurateND web access is checked for availability, and what happens should availability be lost. The check should include common pages, item information pages, and item download links.</li>
    <li>A procedure to restore website availability, possibly setting up a simple site announcing CurateND is “down” if the outage is expected to be long.</li>
    <li>A communication plan for both ongoing outages as well as after the fact.</li>
  </ul>

  <p>Disaster events will be logged. The status of disaster events will be made available on the CurateND website for up to 24 hours after the event is resolved.</p>

  <h3>Unrecoverable Data</h3>

  <p>In the event that there should be digital object which is lost completely, lost partially, or corrupted, the item will be marked as being lost and any data files will be marked unavailable for download. Any partially lost or corrupted files will be retained, and we will attempt to notify any content owners. If the digital object is a metadata record, the record will be noted as being lost, and the CurateND team will try to reconstruct it as much as possible.</p>
</article>
