<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Depositor Support', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">General Support Policy for Depositors</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2015-07-07">July 7th, 2015</time></p>

  <p>Uploaded works must go through a multi-step review process that includes content review in accordance with the <%= link_to 'CurateND Content in Scope Policy', named_policy_path('content') %>, establishment of access rights, and review of metadata. This process helps us fulfill our promise to help you manage and preserve your works so that they are globally discoverable, accessible, and shareable. By depositing works in CurateND, you do not surrender any of the rights to your work (such as ownership, usage, etc.). It is also the expectation that depositors will assign access permissions that align with their usage expectations. We do not monitor for improper use of content stored in CurateND.</p>

  <p>For those who choose to self-deposit, please know that we will review your submission, and may contact you with questions or recommendations. If your project is especially complex or you are unsure of any aspect of the process, a member of the CurateND team will help you prepare and deposit your work(s) and associated data.</p>

  <p>If a depositor intends for CurateND to be the primary preservation and/or access location (i.e., source of record), it is the responsibility of the depositor to keep the copy within CurateND up to date. Consistent with our <%= link_to 'Format Migration', named_policy_path('preservation-migration') %>  and <%= link_to 'Retention and Review', named_policy_path('retention-review') %> policies, we will make reasonable efforts to continue access to deposited content.</p>
</article>
