<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('Policies // CurateND')  %>
<% content_for :page_header do %>
<h1 class="center">Policies</h1>
<% end %>

<section class="curatend-policies policy-list">
  <ul>
    <li><a href="/policies/mission">Mission</a></li>
    <li><a href="/policies/content">Content in Scope Policy</a> (August 18, 2015)</li>
    <li><a href="/policies/support">General Support Policy for Depositors</a> (July 7, 2015)</li>
  </ul>
</section>
