<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Succession Plan', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">CurateND Succession Planning Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2016-10-09">October 9, 2016</time></p>

  <p>This policy outlines the principles by which CurateND will continue to make deposited content accessible in the event that there are significant changes to the repository’s level of funding, staffing, or other resources, or in the event that the repository itself ceases to exist. It is not to be confused with preserving the format of specific content types, which is outlined in the <%= link_to 'Content Format Preservation and Migration Policy.', named_policy_path('preservation-migration') %></p>

  <p>As part of its commitment to providing long-term access to deposited content, CurateND has existing relationships with other, trusted digital repositories such as Academic Preservation (AP) Trust, Digital Preservation Network (DPN), and the Digital Public Library of America (DPLA). Staff continue to monitor the digital preservation landscape for other possible solutions which could be used on a contingency basis, or which have the potential to enhance ongoing access or provide additional options for deposited content.</p>

  <p>There are several factors which may prompt a move to another location or platform to ensure continued access to content. While institutional support for CurateND is strong, it is possible that changes to the underlying technology of the repository, including software and hardware, may impact the level of service that CurateND is committed to providing. Larger, regional institutional repositories may eventually provide this level of service as well as additional options that make using them more feasible or attractive under certain circumstances.</p>

  <p>If it does become necessary to move content in CurateND, staff will review deposited content to see if it is already available in other, trusted repositories. For example, journal articles that were deposited in CurateND that are now available in a government-sponsored digital repository such as PubMed may not need to be moved. If this is the case, CurateND staff will make reasonable efforts to contact the content owner and return the original, deposited files, and also update the metadata for that article to point to the other digital repository.</p>

  <p>Where possible, CurateND staff will attempt to migrate whole collections or profiles to the new location. However, it may be necessary to migrate only part of a collection to the new solution, or to migrate the components of the collection to more than one digital repository, based on the requirements of the receiving digital repository, the type of content included in the collection, or the analysis of the content and its availability in other digital repositories as described above. Staff will make reasonable efforts to contact collection owners and to preserve the relationship between these components through an update to the collection’s metadata.</p>

</article>
