<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Mission', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">CurateND Mission</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2015-01-16">January 16, 2015</time></p>

  <figure>
    <%= image_tag('curate-mission.png', class: "curatend-mission-logo", title: "CurateND Mission") %>
  </figure>

  <h3>Advance New Research and Scholarship of Current, Future Researchers and Scholars</h3>

  <h4>Curate research, collections, and scholarly output of Notre Dame researchers, scholars, departments, and organizations<sup><a id="fnref:1" href="#fn:1">1</a></sup>.</h4>
  <ul>
    <li> Potential to advance research and scholarship should drive what content is in and out of scope for CurateND.</li>
    <li> Core Users of CurateND are scholars, researchers, and curators of collections.<sup><a id="fnref:2" href="#fn:2">2</a></sup></li>
  </ul>

  <h4>Preserve, manage, and share works, collections, and datasets in a way that they are easily discover-able, accessible, and usable over time.</h4>
  <ul>
    <li>Maintain digital content accessibility through file conversions to most accessible formats.<sup><a id="fnref:3" href="#fn:3">3</a></sup></li>
    <li>Adapt ease of browsing, searching by current researchers over time.<sup><a id="fnref:4" href="#fn:4">4</a></sup></li>
    <li>Harvest-able by external search engines to increase usage and impact.</li>
  </ul>

  <h4>Drive discovery of related materials by curating holistic view of research and scholarship of Notre Dame researchers and departments</h4>
  <ul>
    <li>Share indexes of their works, collections, and datasets inside and outside of CurateND in order to drive discovery of related works.</li>
  </ul>

  <h4>Demonstrate impact of Notre Dame collections, researchers, scholars, and organizations to research and scholarship in order to drive further curation, description, and sharing of work to further increase impact on scholarship </h4>
  <ul>
    <li>Track and share usage and activity related to profiles, collections, datasets, and other items in CurateND.</li>
    <li>Show wider picture of impact including external community activity like conferences, social media, scholarly forums, and other forms of scholarly communication.</li>
  </ul>

  <h4>Increase scholarly impact</h4>
  <ul>
    <li>For collections by:
      <ul>
        <li>Making items more discoverable and accessible</li>
        <li>Curating rare unknown collections</li>
        <li>Creating special collection views or digital exhibits</li>
      </ul>
    </li>
    <li>For researchers and scholars by:
      <ul>
        <li>Curating meta-data index of their work </li>
        <li>Curating unpublished materials and linking to published works </li>
      </ul>
    </li>
    <li>For departments and organizations by:
      <ul>
        <li>Creating holistic view of scholarly activity of researchers, scholars, or collections within that department</li>
        <li>Demonstrate and increase impact of that department by driving traffic to their materials based on department affiliation</li>
      </ul>
    </li>
  </ul>

  <h4>Drive more deposits of previously uncaptured materials to increase impact of Notre Dame researchers, scholars, and departments</h4>

  <ol class="footnotes">
    <li id="fn:1">
      <p>
        Includes campus institutes, centers, library departments, and branch libraries
        <a href="#fnref:1">↩</a>
      </p>
    <li id="fn:2">
      <p>
        Creators, depositors or consumers of content include faculty, graduate students, undergraduate students, or staff that are scholars, researchers, archivists, or curators.
        <a href="#fnref:2">↩</a>
      </p>
    </li>
    <li id="fn:3">
      <p>
        For common file types, accommodating legacy or proprietary file formats will be addressed on a case by case basis.
        <a href="#fnref:3">↩</a>
      </p>
    </li>
    <li id="fn:4">
      <p>
        This implies the user interface, features, and functionality should be updated over time to match the requirements and expectations of current researchers.
        <a href="#fnref:4">↩</a>
      </p>
    </li>
  </ol>
</article>
