<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Content in Scope', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">CurateND Content in Scope Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2015-08-18">August 18, 2015</time></p>

  <p>
    CurateND is a research repository designed to help manage and preserve original academic work, collections, and related content produced by members of the University of Notre Dame community and to facilitate global discovery, access and sharing<sup><a id="fnref:1" href="#fn:1">1</a></sup>.
    To this end, CurateND welcomes the contribution of any scholarly works and supporting materials created by individuals or collaborations affiliated with Notre Dame that can advance research for the greater scholarly community, regardless of digital format (text, data, image).
    In addition, CurateND welcomes scholarly materials curated and/or digitized by the Hesburgh Libraries or campus partners, such as rare, ephemeral, or endangered works and collections.
    All items should be in completed form, even if amenable to future updates.
    Records generated in the course of official University business may only be included in CurateND with the permission of the <a href="http://archives.nd.edu/contacts/">University Archives</a><sup><a id="fnref:2" href="#fn:2">2</a></sup>.
    Not all works are appropriate for CurateND; for example, commercially licensed digital products, “popular” works aimed at a general audience, or University Records as defined in the <a href="http://policy.nd.edu/assets/185265/records_management_archives_2015.pdf">University’s Records Management and Archives Policy</a>.
  </p>

  <ol class="footnotes">
    <li id="fn:1">Contributor has the right to limit access and usage permissions and change those permissions over time.
            <a href="#fnref:1">↩</a></li>
    <li id="fn:2"><a href="http://archives.nd.edu/records/">University Archives Records Management</a>
            <a href="#fnref:2">↩</a></li>
  </ol>
</article>
