<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Designated Communities', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">Designated Communities of CurateND Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2015-10-16">October 16th, 2015</time></p>

  <h2>Eligible Content Contributors</h2>
  <ul>
    <li>Faculty members (current, emeritus, and retired), researchers, librarians, archivists, graduate students, undergraduates with faculty sponsorship, and staff members, of University of Notre Dame (hereafter ND) may deposit appropriate materials in CurateND.<a href="#no-longer-affiliated">*</a></li>
    <li>Retrospective deposits of materials published or created before the authors joined ND are permitted as long as the authors are currently affiliated with ND.</li>
    <li>Non-ND collaborators may deposit materials in CurateND in conjunction with collaborators affiliated with Notre Dame.</li>
    <li>Retrospective deposits of materials by authors who are no longer affiliated with ND, including alumni, are acceptable as long as the materials to be deposited were published or created by the authors while affiliated with ND. Other content not produced while affiliated with Notre Dame may be deposited after review by the Hesburgh Libraries.</li>
    <li>All deposits will be considered according to the CurateND Content in Scope policy.</li>
  </ul>

  <h2>Eligible Content Consumers</h2>

  <p>
    Eligible contributors and those who collaborated with them on deposited content are permitted access to CurateND for as long as the content is retained in CurateND.
    In addition, there are four levels of access which may be designated separately for content and associated metadata by contributors, editors, reviewers, or other content managers.
    They are:
  </p>

  <ul>
    <li><strong>Public</strong> This content is accessible to the world.</li>
    <li><strong>Embargo then Public</strong> This content is accessible to the world after a date set by an editor.</li>
    <li><strong>University of Notre Dame</strong> This content is only accessible to patrons with an active Notre Dame netid.  In certain cases, non-ND collaborators will also have access as noted above.<a href="#no-longer-affiliated">*</a></li>
    <li><strong>Private</strong> This content is only accessible to the editors, including any non-ND collaborators.<a href="#no-longer-affiliated">*</a></li>
  </ul>

  <h2>Previous Content Contributors No Longer Affiliated with Notre Dame</h2>
  <p id="no-longer-affiliated">* Any content contributors or owners that have left Notre Dame should contact the Hesburgh Libraries for any changes or updates to your contributed content.
    This also applies for access to private or restricted content from a contributor that is no longer affiliated with Notre Dame.
  </p>
</article>
