<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('Policies // CurateND')  %>
<% content_for :page_header do %>
<h1 class="center">Policies</h1>
<% end %>

<section class="curatend-policies policy-list">
  <ul>
    <li><%= link_to 'Mission', named_policy_path('mission') %> (January 16, 2015)</li>
    <li><%= link_to 'Content in Scope Policy', named_policy_path('content') %> (August 18, 2015)</li>
    <li><%= link_to 'General Support Policy', named_policy_path('support') %> (July 7, 2015)</li>
  </ul>
</section>
