<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Backup Location', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">Preservation Backup and Content Alternate Location Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2016-07-08">July 8, 2016</time></p>

  <p>CurateND is an institutional repository for the University of Notre Dame that is managed by the Hesburgh Libraries and is intended for the long term preservation of the materials created at the University. All materials that are placed in CurateND will be saved on the tape storage of the University system.  The tape system will be backed up on a system in the Boston, MA area which allows all materials to have at least two copies in different regions. Content will be reviewed prior to being put into CurateND to determine if a copy should be included in other alternate locations or systems. The selection criteria will be based on the amount of the materials, the storage space required to safely house the materials, how unique the materials are, restrictions on the materials such as privacy concerns or rights concerns, and availability of the materials.  Technology such as encryption may be used to ensure proper security and privacy.</p>

  <p>The materials will be reviewed before digitization to meet any criteria that is needed for the various storage platforms and allow the materials to be managed properly during the digitization process. The materials will be sent to the various platforms upon completion of the digitization process with all accompanying materials related to the project so that the completed project can be stored as a whole. This will be considered for both born digital and materials we have digitized.</p>

  <p>Alternate storage solutions may change over time and will have various requirements to add materials that will need to be considered prior to using these systems. The most common alternate storage solutions will be APTrust, HathiTrust, and potentially state based preservation system(s) for materials such as Indiana Memory or the Indiana State Library Preservation platform.  Additionally, sets of data may necessitate different storage and access solutions.</p>
</article>
