<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('Policies // CurateND')  %>
<% content_for :page_header do %>
<h1 class="center">Policies</h1>
<% end %>

<section class="curatend-policies policy-list">

  <article id="content" class="policy">
    <h3><a href="#content" class="heading-with-anchor">CurateND Content in Scope Policy</a></h3>
    <p>
      As of January 21, 2015; updated January 30, 2015; updated March 30, 2015; updated May 6, 2015; updated June 4, 2015; update July 13, 2015; Update July 16, 2015
    </p>

    <p>
      CurateND is a research repository designed to help manage and preserve original academic work, collections, and related content produced by members of the University of Notre Dame community and to facilitate global discovery, access and sharing<sup><a id="fnref:1" href="#fn:1">1</a></sup>.
      To this end, CurateND welcomes the contribution of any scholarly works and supporting materials created by individuals affiliated with Notre Dame that can advance research for the greater scholarly community, regardless of digital format (text, data, image).
      Such works should be in completed form, even if amenable to future updates.
      Records generated in the course of official University business may only be included in CurateND with the permission of the <a href="http://archives.nd.edu/contacts/">University Archives</a><sup><a id="fnref:2" href="#fn:2">2</a></sup>.
      Not all works are appropriate for CurateND; for example, commercially licensed digital products, “popular” works aimed at a general audience, or University Records as defined in the <a href="http://policy.nd.edu/policy_files/Records%20Management%20Archives%202015.pdf">University’s Records Management and Archives Policy</a>.
    </p>

    <ol class="footnotes">
        <li id="fn:1">
          <p>
            Contributor has the right to limit access and usage permissions and change those permissions over time.
            <a href="#fnref:1">↩</a>
          </p>
        </li>
        <li id="fn:2">
          <p>
            <a href="http://archives.nd.edu/records/">University Archives Records Management</a>
            <a href="#fnref:2">↩</a>
          </p>
        </li>
      </ol>
  </article>

</section>
