<%#
*******************************************************************************
*******************************************************************************

NOTE: Keep the Mission policy as the first policy. Otherwise, sort the policies
alphabetically by the policy-heading.

NOTE: Make sure to update the ./app/views/static_pages/faqs.html.erb fiel with
policies in the same order.

*******************************************************************************
*******************************************************************************
%>
<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('Policies // CurateND')  %>
<% content_for :page_header do %>
<h1 class="center">CurateND Policies</h1>
<% end %>

<section class="curatend-policies policy-list">
  <%= link_to named_policy_path('mission'), class: 'policy-anchor' do %>
  <h2 class="policy-heading">
    Mission
    <small class="effective-date">Effective Date: <time datetime="2015-01-16">January 16, 2015</time></small>
  </h2>
  <% end %>

  <%= link_to named_policy_path('content'), class: 'policy-anchor' do %>
  <h2 class="policy-heading">
    Content in Scope Policy
    <small class="effective-date">Effective Date: <time datetime="2015-08-16">August 18, 2015</time></small>
  </h2>
  <% end %>

  <%= link_to named_policy_path('designated-communities'), class: 'policy-anchor' do %>
  <h2 class="policy-heading">
    Designated Communities
    <small class="effective-date">Effective Date: <time datetime="2015-10-16">October 16, 2015</time></small>
  </h2>
  <% end %>

  <%= link_to named_policy_path('support'), class: 'policy-anchor' do %>
  <h2 class="policy-heading">
    General Support Policy
    <small class="effective-date">Effective Date: <time datetime="2015-07-7">July 7, 2015</time></small>
  </h2>
  <% end %>

</section>
