<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Persistent Identifier Policy', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">CurateND Persistent Identifier Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2015-12-04">December 12, 2015</time></p>

  <p>
    Items in CurateND may have many different identifiers. This policy lists the official ones created by CurateND and their degree of permanence.
  </p>

  <h2>DOI</h2>
  <p>
    If an item in CurateND has a CurateND assigned DOI (which means a DOI that points to a CurateND web page as opposed to a publisher’s web page) then that identifier is guaranteed to always point to the item’s page in CurateND.
    A DOI is the preferred way to cite materials in CurateND.
  </p>

  <p>
    CurateND DOIs will always point to an item’s information page in CurateND, and not to the files comprising an item.
    This is to help people who use the DOI to understand and evaluate the item and allows them to choose whether to download any files comprising the item.
    If an item is removed or given a private access level, the DOI assigned to the item will point to a tombstone page giving the last known metadata for the item and a message stating the item’s files are no longer available.
  </p>

  <p>
    DOIs will be persistent even in the event of the repository being transferred in accordance to the succession policy.
  </p>

  <h2>CurateND Identifier</h2>
  <p>
    Every item and file stored in CurateND is given a unique eleven character identifier.
    This identifier is permanent, and will never be revoked or assigned to anything else.
    Since the CurateND Identifier is not a URL, it is not automatically resolvable to a web page.
    CurateND identifiers refer to a specific item but do not make a distinction between versions of that item (e.g. minor corrections to either the files or the metadata).
  </p>

  <p>
    CurateND Identifiers will be persistent even in the event of the repository being transferred in accordance to the succession policy.
  </p>

  <h2>CurateND Web Pages</h2>
  <p>
    CurateND has two kinds of URLs which are guaranteed to not change.
    One is an item record information page, and the other is a file download link.
    These two classes of identifiers can be considered Permanent URLs (i.e. PURLs).
    These URLs are intended to assist other websites linking to content in CurateND. For citations and other scholarly work it is preferred to use a DOI instead.
  </p>

  <p>
    These URLs will not be persisted should the repository be transferred in accordance to the succession policy.
  </p>

  <h3>Item Record Page</h3>
  <p>
    A single item may have many possible URLs.
    The most stable of them, and the only permanent one has the form <code>https://curate.nd.edu/show/XXXXXXXXXXX</code> where <code>XXXXXXXXXXX</code> is the eleven character CurateND Identifier for the item.
    This page displays the title and description of the given item, and offers links to download it.
    Both the Item Record Page URL and the DOI are usable for online content, such as blog posts.
  </p>

  <h3>Item Download Link</h3>
  <p>
    A download link has the form <code>https://curate.nd.edu/downloads/YYYYYYYYYYY</code> where <code>YYYYYYYYYYY</code> is an eleven character CurateND identifier for the file (note: the identifier for the file will be different from the parent item’s CurateND Identifier).
  </p>

  <h2>Other Identifiers</h2>
  <p>
    Items in CurateND may have other identifiers, such as DOIs assigned by external agencies (usually publishers); ISBNs; ISSNs; or Notre Dame catalog record numbers.
    This policy does not make any statements about the permanence of these.
  </p>

  <p>
    CurateND may use many external systems to identify people, such as University of Notre Dame NetID, ORCID, ISNI, and EDUID.
    This policy also does not make any statements on the permanence of these identifiers.
  </p>

</article>
