<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_title, construct_page_title('Content Withdrawal // Policies // CurateND') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">Content Withdrawal Policy</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="date">date</time></p>

  <p></p>
</article>
