<% content_for :page_header do %>
  <h1>Retrieving File</h1>
<% end %>
<p class="lead">This operation could take some time.</p>
<% bytes = item.file_size.first %>
<% unless bytes.blank? %>
  <div class="alert alert-block alert-info">
    The file is <%= number_to_human_size(bytes) %>.
  </div>
<% end %>

<div class="retrieval-progress-indicator" data-poll="<%= bendo_cache_status_path(id: pid) %>">
</div>

<noscript>
  <div class="alert alert-block alert-error">
    <p><b>JavaScript is disabled.</b> You must request the file manually.</p>
  </div>
  <%= form_for item, method: :post, url: request_bendo_cache_refresh_path(item.noid) do |f| %>
    <%= f.submit 'Submit request manually', class: 'btn' %>
  <% end %>
</noscript>
