<section id="citations" class="citation-listing">
<% if result.empty? %>
  <p>Unable to generate citations for this item.</p>
<% else %>
  <% result.each do |style, citation| %>
    <article class="citation" class="<%= style %>">
      <h2><%= citation_label(style) %></h2>
      <p class="lead">
        <cite><%= citation.html_safe %></cite>
      </p>
    </article>
  <% end %>
<% end %>
</section>
