<%
 content_for :page_title, construct_page_title("#{curation_concern.title} // Citation")
 content_for :page_header, content_tag('h1', "Cite &ldquo;#{curation_concern.title}&rdquo;".html_safe)
%>

<section id="citations" class="citation-listing">
<% result.each do |style, citation| %>
  <article class="citation" class="<%= style %>">
    <h2><%= citation_lable(style) %></h2>
    <p class="lead">
      <cite><%= citation.html_safe %></cite>
    </p>
  </article>
<% end %>
</section>
