<h1>Editing Temporary Access Token</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_temporary_access_token_path(@temporary_access_token) %> |
<%= link_to 'Back', admin_temporary_access_tokens_path %>
