<% unless curation_concern.persisted? %>
  <fieldset id="work-contents">
    <div class="row with-headroom">
      <div class="span12">
        <legend>
          Manage your <%= curation_concern.human_readable_type %> files
          <small>A PDF copy is preferred.</small>
        </legend>

      </div>
    </div>

    <div class="row">

      <fieldset class="span5">
        <legend>
          Attach Your File.
          <%= file_size_warning %>
        </legend>
        <%= f.input :files, as: :file %>
      </fieldset>


    </div>
  </fieldset>
<% end %>
