<% solr_doc          ||= document.inner_object.solr_doc                                                    %>
<% title_link_target ||= common_object_path(document) %>
<% if document.respond_to?(:name) %>
  <% title_link_text   ||= document.name %>
<% else %>
  <% title_link_text   ||= document.title %>
<% end %>
<% edit_path         ||= edit_polymorphic_path([:curation_concern, document])                              %>
<div class="row identifier-and-action">
  <div class="col-sm-2 list-number">
    <%= document_counter_with_offset(counter) if defined?(counter) %>
    <%= render :partial => 'catalog/_index_partials/type_display', locals: {document: document} %>
  </div>

  <div class="col-sm-7 search-result-link">
    <%# Minimize Fedora hits by using solr_doc rather than document %>
    <%= link_to richly_formatted_text(title_link_text, title: true), title_link_target, :id => "src_copy_link_#{solr_doc.noid}" %>
  </div>
</div>
