<li class="divider"></li>
<li><strong class="menu-heading item-with-options">ETD Configuration</strong></li>
<% ['degree_level','degree_discipline','degree_name'].each do |concern| %>
  <li><%= link_to(
              concern.titleize,
              etd_vocabularies_by_type_path(concern),
              role: 'menuitem'
          ) %>
  </li>
<% end %>
