        <%= render 'announcements' %>
        <div class="container">
          <div class="row">
            <div id="brand-bar" class="col-sm-12">
              <div class="top-link university">
                <a href="<%= t('sufia.institution_homepage_url') %>">University <i>of</i> Notre Dame</a>
              </div>
              <div class="top-link division">
                <a href="<%= t('sufia.division_homepage_url') %>">Hesburgh Libraries</a>
              </div>
            </div>
          </div>
        </div>
