<% hide_title ||= false %>
        <div class="container">
          <div class="row">
            <div id="title-bar" class="col-sm-12">
              <% unless hide_title.present? %>
                <div class="site-title">
                  <%= link_to root_path, class: 'home-link' do %>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="curate-nd-logo" viewBox="0 0 221 49" preserveAspectRatio="xMinYMin meet">
                      <style type="text/css">
                        .white {fill:#FFF;}
                        .yellow {fill:#DCB438; stroke-width:0.75;}
                      </style>
                      <path class="white" d="M13.62,42.54c5.1,0,6.3-2.28,6.36-8.94l6.3,0.84c-0.06,9.24-2.58,13.68-12.48,13.68C3.9,48.12,0,42.18,0,24.06S3.9,0,13.8,0c9.9,0,12.42,4.44,12.48,13.68l-6.3,0.84c-0.06-6.66-1.26-8.94-6.36-8.94c-6.06,0-7.2,5.7-7.2,18.48S7.56,42.54,13.62,42.54z"/>
                      <path class="white" d="M48.66,43.98c-2.04,2.4-4.98,4.14-9.48,4.14c-5.46,0-7.92-3.12-7.92-7.92V15.66h6.18v22.98c0,2.46,1.26,3.96,4.02,3.96c3,0,5.28-1.56,6.66-3.54v-23.4h6.18v24.06l0.18,7.74h-5.46L48.66,43.98z"/>
                      <path class="white" d="M66.54,24.54v22.92h-6.18V23.4l-0.12-7.74h5.46l0.36,3.66c1.62-2.7,4.08-4.32,6.9-4.32c0.96,0,1.74,0.18,2.46,0.54l-0.3,5.7C74.58,21.06,73.74,21,73.08,21C70.38,21,68.22,22.38,66.54,24.54z"/>
                      <path class="white" d="M85.56,25.08l-6.24-0.78c0-5.88,2.22-9.3,10.86-9.3c8.1,0,10.62,2.88,10.62,9.6v15.12l0.18,7.74h-5.46l-0.36-3.48c-2.16,2.94-4.98,4.14-8.88,4.14c-5.82,0-8.16-3.78-8.16-9.54c0-6.72,3.78-9.24,11.82-10.44l4.62-0.66V24c0-2.64-1.08-4.26-4.44-4.26C86.82,19.74,85.56,21.3,85.56,25.08z M88.56,43.02c2.46,0,4.56-1.26,6-3.24v-8.16l-4.08,0.6c-3.96,0.54-6.12,1.86-6.12,5.88C84.36,41.64,85.92,43.02,88.56,43.02z"/>
                      <path class="white" d="M105.48,15.66h3.72v-8.4l6.18-0.18v8.58h6.72v5.22h-6.72V39.6c0,2.52,1.2,3.18,3.06,3.18c1.32,0,2.4-0.3,3-0.54l0.42,5.22c-0.9,0.3-2.22,0.66-4.56,0.66c-5.76,0-8.1-2.88-8.1-7.74v-19.5h-3.72V15.66z"/>
                      <path class="white" d="M138.42,43.08c3.78,0,4.86-1.8,4.86-4.98l6.3,0.78c0,5.34-1.86,9.24-10.98,9.24c-9.78,0-12.06-5.88-12.06-16.56c0-10.74,2.4-16.56,11.88-16.56c9.42,0,11.52,5.88,11.52,16.56v2.34h-16.86C133.08,39.9,134.04,43.08,138.42,43.08z M133.08,29.04h10.32c-0.06-5.94-0.9-9-5.04-9C134.28,20.04,133.14,22.68,133.08,29.04z"/>
                      <path class="yellow" d="M174.42,19.92l4.02,11.7l-0.12-11.34V0.66h7.56v46.8h-9l-6.9-19.26l-3.96-11.7l0.12,11.34l0.06,19.62h-7.68V0.66h9L174.42,19.92z"/>
                      <path class="yellow" d="M192.42,47.46V0.66h11.82c12.6,0,16.56,5.34,16.56,23.4c0,18.06-3.96,23.4-16.56,23.4H192.42z M204.48,40.2c7.38,0,8.16-4.38,8.16-16.14s-0.78-16.14-8.16-16.14h-3.9V40.2H204.48z"/>
                    </svg>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% if show_site_search? || show_site_actions? %>
          <div class="action-bar row">
            <div class="col-sm-12">
            <% if show_site_search? %>
              <div class="site-search">

<%= render 'shared/site_search' %>

              </div>
            <% end %>


              <nav class="site-actions" role="menu">

<%= render 'shared/site_actions' if show_site_actions? %>

              </nav>
            </div>
          </div>
        <% end %>
        </div>

