<fieldset>
<label><strong>Contributor(s)</strong></label>
  <table class="table expandible contributors negetive-left-margin">
    <thead>
      <tr class='span12'>
        <th class="span4">Name</th>
        <th class="span4">Role</th>
        <th class="row-controls"></th>
      </tr>
    </thead>
    <tfoot>
      <tr class="span12">
        <td colspan="5" class="table-controls span12">
        </td>
      </tr>
    </tfoot>
    <tbody>
      <%= f.simple_fields_for :contributor do |cf| %>
        <tr class='repeat span12'>
          <td class="name span4">
            <%= cf.input :contributor, label: false, required: false, wrapper: false, hint: false, input_html: { value: cf.object.contributor.first } %>
          </td>
          <td class="role span4">
            <%= cf.input :role, label: false, required: false, wrapper: false, input_html: { value: cf.object.role.first } %>
          </td>
          <td class="row-controls span4">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
