<p class="alert alert-block">
  <strong>Please Note:</strong><br />
  For files larger than <%= t('sufia.supported_file_upload_size') %> please contact <%= support_email_link.html_safe %> for assistance.
</p>
