<div class="row with-headroom">
  <div class="span12">
    <h2 id="attachments">
      Attachments
    </h2>
  </div>
</div>
<% if curation_concern.persisted? %>
<p><em>Files are managed from the <%= link_to(
  "#{curation_concern.human_readable_type.downcase} record view",
  polymorphic_path([:curation_concern, curation_concern])
  )%>.
  <% unless curation_concern.generic_files.present? %>
    <br />You must attach at least one file to choose a thumbnail for this <%= curation_concern.human_readable_type.downcase %>.
  <% end %>
</em></p>
<% else %>
  <div class="row">
    <fieldset class="span5">
      <legend>Upload a File</legend>
      <%= render 'file_size_warning' %>
      <%= f.input :files, as: :file %>
    </fieldset>
  </div>
<% end %>
