<fieldset id="set-license">
  <legend>Choose a License for your Content</legend>
  <p>
    What do you want others to be able to do with your work?
  </p>

  <p>
    <a href="#licenseModal" role="button" class="btn btn-default fright" data-toggle="modal">Help me choose a license</a>
  </p>

  <%= f.input :rights,
    as: :select,
    collection: Copyright.active_for_select,
    include_blank: false,
    input_html: { class: 'input-xxlarge' },
    label: 'Content License'
  %>
  <% if curation_concern.respond_to?(:permission) %>
    <%= f.input :permission,
      as: :text,
      input_html: {
        class: 'input-xxxlarge rich-textarea-js',
        rows: '5'
      },
      label: 'Use Permissions'
    %>
  <% end %>

  <%= render :partial => "curation_concern/base/license_modal" %>
</fieldset>
