<div class="row with-headroom">
  <div class="span12">
    <h2 id="attachments">
      Attachments
    </h2>
  </div>
</div>
<% if curation_concern.persisted? %>
<p><em>Attachments cannot be deleted, please make them private or <a href="/faqs">contact us</a> to have them removed.
  <% unless curation_concern.generic_files.present? %>
    <br />You must attach at least one file to choose a thumbnail for this <%= curation_concern.human_readable_type.downcase %>.
  <% end %>
</em></p>
<% else %>
  <div class="row">
    <fieldset class="span5">
      <legend>Upload Files</legend>
      <%= f.input :files, as: :file, input_html: {multiple: true} %>
    </fieldset>
  </div>
<% end %>
