<div class="row">
  <div class="col-sm-12" id="required-information">
    <%= render "form_required_information", curation_concern: curation_concern, f: f %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render "form_additional_information", curation_concern: curation_concern, f: f %>
  </div>
</div>
