<% content_for :modal_windows do %>
<div class="modal hide fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="License Descriptions" aria-hidden="true">
  <div class="modal-header">
    <h2><%= t('sufia.product_name') %> License Descriptions</h2>
  </div>
  <div class="modal-body" aria-hidden="true">
    <p><%= t('sufia.product_name') %> offers the following licenses for deposited
    items.
    The majority come from the set of <a href="http://creativecommons.org/licenses/">Creative Commons licenses</a>.
    See these <a href="https://creativecommons.org/examples">examples</a> of
    uses of Creative Commons licenses. CurateND originally offered 3.0 US licenses and continues to support them but has added support for Creative Commons 4.0 licenses and encourages those submitting new objects to consider using them instead.
    </p>
    <ul>
      <% Locabulary.active_items_for(predicate_name: 'copyright', as_of: Time.zone.now).each do |item| %>
        <li><strong><%= item.term_label %></strong><br /><%= item.description %></li>
      <% end %>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<% end %>
