<% content_for :modal_windows do %>
<div class="modal hide fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="License Descriptions" aria-hidden="true">
  <div class="modal-header">
    <h2><%= t('sufia.product_name') %> License Descriptions</h2>
  </div>
  <div class="modal-body" aria-hidden="true">
    <p><%= t('sufia.product_name') %> offers the following licenses for deposited items.
    The majority come from the set of <a href="http://creativecommons.org/licenses/">Creative Commons licenses</a>.
    See these <a href="https://creativecommons.org/share-your-work/licensing-examples/">examples</a> of
    uses of Creative Commons licenses.
    (The Creative Commons 4.0 licenses are preferred over the 3.0 licenses, but CurateND offers both to choose from.)
    </p>
    <ul>
      <% Copyright.active.each do |item| %>
        <li><strong><%= item.term_label %></strong><br /><%= item.description %></li>
      <% end %>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<% end %>
