<% content_for :modal_windows do %>
<div class="modal hide fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="License Descriptions" aria-hidden="true">
  <div class="modal-header">
    <h2><%= t('sufia.product_name') %> License Descriptions</h2>
  </div>
  <div class="modal-body" aria-hidden="true">
    <%= render partial: '/static_pages/licenses_content' %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<% end %>
