<% download_permission = can? :read, generic_file %>

<div class="actions">
  <% if download_permission & !generic_file.with_empty_content? %>
    <div>
      <%= render 'curation_concern/base/download_file_button', generic_file: generic_file, bendo_datastream: bendo_datastream %>
    </div>
    <div>
      <%= link_to 'View Details', curation_concern_generic_file_path(generic_file), class: 'btn btn-default' %>
    </div>
  <% end %>

  <div>
    <%= render partial: '/curation_concern/base/grant_temporary_access', locals: { curation_concern: curation_concern, file: generic_file } %>
  </div>
</div>
