<% download_permission = can? :read, generic_file %>

<div class="actions">
  <% if download_permission & !generic_file.with_empty_content? %>
    <div>
      <% if bendo_datastream.valid? %>
        <%= link_to(recall_bendo_item_path(generic_file.noid),
          {
            class: "action btn btn-info",
            data: {
              alternate: download_path(generic_file.noid),
              toggle: 'tooltip',
              placement: 'top'
            },
            title: t('curate.notification_messages.file_retrieval_tooltip'),
            target: '_blank'
          }
        ) do %>
          <i class="icon icon-white icon-time"></i> Begin Download
        <% end %>

      <% else %>
        <%= link_to(
          download_path(generic_file.noid),
          {
            class: "action btn",
            target: '_blank'
          }
        ) do %>
          <i class="icon icon-download"></i> Download
        <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to 'View Details', curation_concern_generic_file_path(generic_file), class: 'btn' %>
    </div>
  <% end %>

  <div>
    <%= render partial: '/curation_concern/base/grant_temporary_access', locals: { curation_concern: curation_concern, file: generic_file } %>
  </div>
</div>
