<% unless params.has_key?(:token) %>
  <p class="lead">You are not authorized to access this page.</p>
  <% unless current_user.present? %>
    <p>If you think you should have access, please try logging in.</p>
    <%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary login' %>
  <% end %>
<% end %>
