<div class="choose-list-format">
  <a href="" class="display-type listing<%= ' active' unless display_as_grid? %>" title="Detail view">
  <svg fill="#002b5b" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
  </svg>
</a><a href="" class="display-type grid<%= ' active' if display_as_grid? %>" title="Thumbnail view">
  <svg fill="#002b5b" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 11h5V5H4v6zm0 7h5v-6H4v6zm6 0h5v-6h-5v6zm6 0h5v-6h-5v6zm-6-7h5V5h-5v6zm6-6v6h5V5h-5z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
  </svg>
</a>
</div>

