<%- # local params:
    # label
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
    options[:escape_label] = true unless options.has_key?(:escape_label)
    options[:escape_value] = false unless options.has_key?(:escape_value)
-%>

<span class="btn-group applied-filter constraint <%= options[:classes].join(" ") if options[:classes] %>">
  <span class="btn btn-outline">
  <% unless label.blank? %>
    <span class="filter-name"><%= options[:escape_label] ? h(label) : label %>:</span>
  <% end %>
  <% unless value.blank? %>
    <% decorated_value = Catalog::ConstraintPresenter.call(value: value, options: options) %>
    <span class="filter-value"><%= options[:escape_value] ? h(decorated_value) : decorated_value %></span>
  <% end %>
  </span><a class="btn btn-default" href="<%= options[:remove] %>"><span class="accessible-hidden">remove </span>×</a>
</span>
