<% if current_user %>
  <h4><%= t('sufia.search_facets.label') %></h4>
  <ul class="search-query-list">
    <%= render_view_filters(params) %>
  </ul>
<% end %>

<h4>Filter by:</h4>
<ul class="facets">
  <%= render_facet_partials %>
</ul>
