<% splash = Catalog::SearchSplashPresenter.call(params) %>
<% if splash %>
  <div class="search-term-splash">
    <h1>
      <%= splash.html_safe %>
    </h1>
  </div>
  <%= render partial: 'shared/site_search', locals: { placeholder: "Search #{splash}" } %>
<% else %>
  <%= render 'shared/site_search' %>
<% end %>
