<% splash = Catalog::SearchSplashPresenter.call(params) %>
<% if splash.title %>
  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <div class="search-term-splash">
        <h1>
          <%= splash.title %>
        </h1>
      </div>
    </div>
  </div>
  <% if splash.is_a? LibraryCollection %>
    <%= render partial: '/curation_concern/library_collections/splash', locals: { curation_concern: splash } %>
  <% end %>
  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <div class="search-term-splash">
        <%= render partial: 'shared/site_search', locals: { placeholder: "Search #{splash.title}" } %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-9 offset-sm-3">
      <%= render 'shared/site_search' %>
    </div>
  </div>
<% end %>
