<%
  category_key = :human_readable_type_sim

  if params.include?(:f) && params[:f][category_key]
    categories = params[:f][category_key]

    if categories.present? && categories.count == 1
      category = categories.first
    else
      category = nil
    end
  else
    category = nil
  end

  case category
  when 'Article'
    splash = <<-markup
    <figure class="search-splash-icon">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg svg-book" viewBox="0 0 26 26" preserveAspectRatio="xMinYMin meet">
        <path fill="#7f8e9f" d="M25.609,7.469c0.416,0.594,0.51,1.266,0.281,2.016l-4.298,14.156c-0.198,0.667-0.597,1.227-1.194,1.68c-0.6,0.454-1.237,0.681-1.914,0.681H4.062c-0.802,0-1.575-0.278-2.32-0.836s-1.263-1.242-1.555-2.056c-0.25-0.697-0.26-1.359-0.031-1.983c0-0.042,0.016-0.183,0.047-0.422s0.052-0.433,0.063-0.578c0.011-0.083-0.005-0.195-0.047-0.336c-0.042-0.141-0.058-0.242-0.047-0.306c0.021-0.114,0.062-0.224,0.125-0.327c0.063-0.104,0.149-0.227,0.258-0.367s0.195-0.263,0.258-0.367c0.239-0.396,0.474-0.872,0.703-1.43c0.229-0.558,0.386-1.034,0.469-1.431c0.031-0.104,0.034-0.26,0.008-0.469c-0.026-0.209-0.029-0.354-0.008-0.438c0.031-0.115,0.12-0.261,0.266-0.438c0.146-0.177,0.235-0.297,0.266-0.359c0.219-0.375,0.437-0.854,0.656-1.437c0.219-0.583,0.349-1.052,0.391-1.406c0.011-0.094-0.002-0.261-0.039-0.5s-0.034-0.385,0.008-0.438c0.042-0.135,0.156-0.294,0.344-0.477s0.302-0.3,0.344-0.352c0.198-0.271,0.419-0.711,0.664-1.32C5.13,7.32,5.273,6.817,5.315,6.421C5.326,6.338,5.31,6.205,5.268,6.023s-0.052-0.32-0.031-0.414c0.021-0.083,0.068-0.177,0.141-0.281s0.167-0.224,0.281-0.359c0.114-0.135,0.203-0.245,0.266-0.328c0.083-0.125,0.169-0.284,0.258-0.477C6.271,3.971,6.35,3.788,6.417,3.617c0.067-0.171,0.151-0.359,0.25-0.562c0.099-0.204,0.201-0.37,0.305-0.5c0.104-0.13,0.242-0.252,0.414-0.367c0.172-0.115,0.359-0.175,0.562-0.18c0.203-0.005,0.45,0.023,0.742,0.086L8.674,2.141C9.07,2.047,9.335,2,9.471,2h11.89c0.771,0,1.365,0.292,1.781,0.875c0.417,0.583,0.511,1.26,0.281,2.031l-4.281,14.156c-0.374,1.238-0.746,2.038-1.117,2.397c-0.369,0.359-1.039,0.539-2.008,0.539H2.44c-0.281,0-0.479,0.078-0.594,0.233c-0.115,0.167-0.12,0.391-0.016,0.672c0.25,0.73,1,1.095,2.25,1.095h14.422c0.303,0,0.594-0.081,0.875-0.242s0.464-0.377,0.547-0.647l4.688-15.422c0.073-0.229,0.1-0.526,0.078-0.891c0.396,0.156,0.704,0.38,0.922,0.672L25.609,7.469z M8.984,7.5C8.942,7.635,8.952,7.753,9.015,7.852C9.078,7.951,9.182,8,9.328,8h9.5c0.135,0,0.268-0.049,0.398-0.148c0.129-0.099,0.215-0.216,0.258-0.352l0.328-1c0.041-0.135,0.031-0.253-0.031-0.352S19.613,6,19.468,6h-9.5C9.833,6,9.7,6.049,9.57,6.148C9.44,6.247,9.354,6.364,9.312,6.5L8.984,7.5z M7.688,11.5c-0.042,0.135-0.032,0.253,0.031,0.352C7.782,11.951,7.886,12,8.032,12h9.5c0.136,0,0.268-0.049,0.397-0.148c0.131-0.099,0.217-0.216,0.258-0.352l0.328-1c0.043-0.135,0.032-0.253-0.031-0.352C18.422,10.049,18.318,10,18.172,10h-9.5c-0.135,0-0.268,0.049-0.398,0.148S8.058,10.364,8.016,10.5L7.688,11.5z"/>
      </svg>
    </figure>
    Articles & Publications
    markup
  when 'Dataset'
    splash = <<-markup
    <figure class="search-splash-icon">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg svg-graph" viewBox="0 0 30 26" preserveAspectRatio="xMinYMin meet">
        <path fill="#7f8e9f" d="M10,14v8H6v-8H10z M16,6v16h-4V6H16z M32,24v2H0V2h2v22H32z M22,10v12h-4V10H22z M28,4v18h-4V4H28z"/>
      </svg>
    </figure>
    Datasets & Related Materials
    markup
  when 'Thesis or Dissertation'
    splash = <<-markup
    <figure class="search-splash-icon">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg svg-graduation-cap" viewBox="0 0 35 27" preserveAspectRatio="xMinYMin meet">
        <path fill="#7f8e9f" d="M27.719,13.062L28,17.999c0.042,0.719-0.385,1.386-1.281,2c-0.896,0.614-2.119,1.102-3.672,1.461c-1.552,0.359-3.234,0.539-5.047,0.539s-3.495-0.18-5.047-0.539c-1.552-0.359-2.776-0.847-3.672-1.461s-1.323-1.281-1.281-2l0.281-4.937l8.969,2.829c0.229,0.072,0.479,0.108,0.75,0.108s0.521-0.036,0.75-0.108L27.719,13.062z M36,8c0,0.239-0.115,0.401-0.344,0.484l-17.5,5.5C18.114,13.995,18.062,14,18,14s-0.114-0.005-0.156-0.016L7.657,10.765c-0.448,0.354-0.818,0.935-1.109,1.742c-0.291,0.808-0.468,1.737-0.531,2.789c0.656,0.375,0.984,0.942,0.984,1.703c0,0.719-0.302,1.276-0.906,1.672l0.906,6.767c0.021,0.146-0.021,0.275-0.125,0.391C6.782,25.943,6.657,26,6.501,26h-3c-0.156,0-0.281-0.057-0.375-0.172c-0.104-0.115-0.146-0.245-0.125-0.391l0.906-6.767c-0.604-0.396-0.906-0.953-0.906-1.672c0-0.761,0.339-1.339,1.016-1.733c0.115-2.157,0.625-3.875,1.531-5.157L0.345,8.484C0.116,8.401,0.001,8.239,0.001,8s0.115-0.401,0.344-0.484l17.5-5.5C17.887,2.005,17.939,2,18.001,2s0.114,0.005,0.156,0.016l17.5,5.5C35.887,7.599,36.001,7.761,36,8L36,8z"/>
      </svg>
    </figure>
    Theses & Dissertations
    markup
  else
    splash = nil
  end
%>

<% if splash %>
  <div class="search-term-splash">
    <h1>
      <%= splash.html_safe %>
    </h1>
  </div>
<% end %>
