<%
  # This is a search result with a prominant thumbnail

  solr_doc          ||= document.inner_object.solr_doc
  title_link_target ||= common_object_path(document)

  if document.respond_to?(:user)
    edit_path = ''
  elsif document.is_a?(Collection) || document.is_a?(LibraryCollection)
    edit_path = edit_collection_path(document)
  else
    edit_path ||= edit_polymorphic_path([:curation_concern, document])
  end

  if document.respond_to?(:name)
    title_link_text ||= document.name
  else
    title_link_text ||= document.title
  end
%>

<li id="document_<%= document.noid %>" class="grid-tile">
<% if current_user %>
  <div class="tile-actions-menu">
    <div class="tile-actions">
      <% available_actions = 0 %>
      <% if can?( :edit, document ) && edit_path.present? %>
        <% available_actions += 1 %>
        <%= link_to(
          raw('<i class="icon-pencil icon-large"></i>'),
          edit_path,
          class: 'itemicon itemedit btn btn-default',
          title: "Edit #{document.human_readable_type}"
        )%>
      <% end %>
    </div>

    <% if available_actions > 0 %>
      <a href="#" class="tile-menu-toggle btn btn-link">
        <svg fill="#002b5b" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
        </svg>
      </a>
    <% end %>
  </div>
<% end %>

  <div class="tile-thumbnail">
    <%= render :partial => 'catalog/_index_partials/thumbnail_display', locals: {document: document} %>
  </div>

  <div class="tile-title">
    <%= link_to richly_formatted_text(title_link_text), title_link_target, :id => "src_copy_link_#{solr_doc.noid}" %>
  </div>

</li>
