@import 'global-variables';

.table {
  .accessibility-placeholder {
    padding: 0;
  }

  .row-actions {
    list-style: none;
    margin: 0;

    .action + .action {
      margin-top: .5em;
    }
  }

  .primary-color-highlight {
    background-color: $official-blue;
    color: $white;

    &:nth-child(odd) > td {
      background-color: $official-blue;
    }

    td > a,
    td > a:focus,
    td > a:hover,
    td > a:visited {
      color: $official-gold;
    }
  }

  &.with-row-actions td {
    line-height: 2.2;
  }
}

.table-scroll-wrapper {
  overflow-x: auto;
  width: 100%;
}
.table-sortable > thead > tr > th {
  cursor: pointer;
  position: relative;
}

.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th:after {
  content: ' ';
	position: absolute;
  height: 0;
  width: 0;
  right: 10px; /* (right padding / 2) - arrow width */
  top: 16px; /* ((padding * 2) + line height) - arrow height */
  /** As pointed out by Dave Everitt in
   * https://css-tricks.com/snippets/css/css-triangle/
   * The arrow is not an equilateral triangle.
   * the height is 86.6% of the width.
   * Notice the above code does not subract the border
   * width exactly. It is subtracting
   * (rounded) border width * 86.6%
   **/
}

/* Default sortable indicator */
.table-sortable > thead > tr > th:after {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ccc;
  border-bottom: 0px solid transparent;
}
/* !Default */

/* Default sortable indicator:hover */
.table-sortable > thead > tr > th:hover:after {
	border-top: 5px solid #888;
}
/* !Default:hover */

/* Ascending sortable indicator */
.table-sortable > thead > tr > th.asc:after {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 0px solid transparent;
	border-bottom: 5px solid #333;
}
.table-sortable > thead > tr > th.asc:hover:after {
	border-bottom: 5px solid #888;
}
/* !Ascending */

/* Descending sortable indicator */
.table-sortable > thead > tr > th.desc:after {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
  border-top: 5px solid #333;
	border-bottom: 5px solid transparent;
}
/* !Descending */
