@import 'global-variables';

.announcement-listing {
  .announcement {
    // Deferring to bootstrap-provided alert styles
  }

  .announcement-text {
    display: inline-block;
    font-family: $sansFontFamily;
    letter-spacing: normal;
    text-transform: none;
    width: 90%;
  }

  .close {
    .announcement-dismiss {
      padding: 0;
    }
  }
}

