@import 'global-variables';

.announcement-listing {

  .announcement {
    // Deferring to bootstrap-provided alert styles
  }

  .announcement-text {
    font-family:$sansFontFamily;
    letter-spacing:normal;
    text-transform:none;
    width:90%;
    display:inline-block;
  }

  .close {
    .announcement-dismiss {
      padding:0;
    }
  }
}
