@import 'global-variables';

.modal .citation-listing {
  padding: 2em;

  h2 {
    font-family: $header-font-family;
    font-size: 22px;
    line-height: 1;
    color: $official-blue;
  }

  h2:first-child {
    margin-top: 0;
  }
}
