// Legacy Collections
.collection-listing {
  list-style-type: none;
  margin: 0 0 1em;

  .with-controls {
    line-height: 2;
  }
}

.collection-member {
  padding-bottom: .5em;
  position: relative;
}

.collection-member-actions {
  float: right;
  min-width: 12em;
  position: absolute;
  right: 0;
  top: 0;

  .btn {
    margin-right: .3em;
  }

  .btn,
  .remove-member {
    float: right;
    margin-bottom: 0;
  }
}

.collection-section-description {
  margin-bottom: 10px;
}

.collection-section-heading + .collection-section-description {
  margin-top: -10px;
}

// *New* Collections

.toggle-collection-meta {
  border: 1px solid $gray-lightest;
  margin-bottom: -1px;
  padding-right: 1.7em;
  position: relative;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }

  .chevron {
    border-color: $official-blue transparent transparent;
    border-style: solid;
    border-width: 8px 4px 0;
    display: inline-block;
    height: 0;
    position: absolute;
    right: 8px;
    top: 10px;
    width: 0;
  }

  &.collapsed .chevron {
    transform: rotate(-90deg);
  }
}

.collection-meta {
  border-bottom: 1px solid $gray-lightest;
  border-top: 1px solid $gray-lightest;
  padding-top: 1em;
}

.collection-meta-sidebar{
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;

  img {
    width: 50%;
  }
}

.collection-meta-content {
  p {
    max-width: 42em;
  }
}

.collection-meta-attributes {
  column-count: 1;
  column-gap: 2em;

  dt {
    border-bottom: 1px solid $gray-lightest;
    padding-top: .5em;
  }
}

.collection-meta + .search-content {
  padding-top: 1em;
}

@media(min-width: 400px){
  .collection-meta-attributes {
    column-count: 2;
  }
}

@media(min-width: 768px){
  .collection-meta-sidebar{
    padding-top: 0;

    img {
      width: 90%;
    }
  }

  .collection-meta-attributes {
    column-count: 3;
  }
}
