@media (max-width: 767px){
  .page-main {
    .row {
      padding: 0 1em;

      .row {
        padding: 0;
      }
    }
  }
}

.work-representation {
  margin-top: 15px;
  display: none;

  a {
    display: block;
  }

  .canonical-image {
    width: 100%;
  }
}

.work-attributes {
  .table-heading {
    h2 {
      padding-top: 0;
    }
  }
}

.attached-file {
  clear: both;
  float: left;
  margin-bottom: .5em;
  width: 100%;

  .file-title a {
    color: $official-blue;
  }

  .file-thumbnail {
    float: left;
    margin: 0 0 .5em;
  }

  .canonical-image {
    display: inline-block;
    position: relative;
  }

  .thumbnail {
    border-radius: 0;
    display: inline-block;
    padding: 0;
  }

  .actions {
    clear: left;
  }

  .btn {
    margin-top: .5em;
  }

  + .attached-file {
    border-top: 1px solid $gray-lightest;
    margin-top: 1em;
  }
}

.descriptive-text {
  @media (min-width: 60em){
    max-width: 45em;
  }
}

.related-resources {
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
}

.related-resource + .related-resource {
  border-top: 1px solid $gray-lightest;
  margin-top: .3em;
  padding-top: .3em;
}

.related-resource .actions {
  display: block;
  line-height: 3;
}
