@media (max-width: 767px){
  .page-main {
    .row {
      padding: 0 1em;

      .row {
        padding: 0;
      }
    }
  }
}

.work-representation {
  margin-top: 15px;

  a {
    display: block;
  }

  .canonical-image {
    width: 100%;
  }
}

.work-attributes {
  .table-heading {
    h2 {
      padding-top: 0;
    }
  }
}

.attached-file {
  clear: both;
  float: left;
  margin-bottom: 1.5em;
  width: 100%;

  .file-thumbnail {
    float: left;
    margin: 0 0 1em;
    padding-right: 13em;
  }

  .canonical-image {
    display: inline-block;
    position: relative;

    &.width-100 .access-rights-qualifier,
    &.width-100 .label {
      left: 115px;
      right: auto;
    }

    .label {
      position: absolute;
      right: 0;
      top: 0;
    }

    .access-rights-qualifier {
      color: $gray-dark;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 1.7em;
      white-space: nowrap;
    }
  }

  .thumbnail {
    border: 1px solid $gray-lightest;
    border-radius: 0;
    display: inline-block;
    padding: 0;
  }

  .actions {
    line-height: 3;
    margin-top: -.5em;
  }

  + .attached-file {
    border-top: 1px solid $gray-lightest;
    margin-top: 1em;
  }
}

.descriptive-text {
  @media (min-width: 60em){
    max-width: 45em;
  }
}

.related-resources {
  list-style-type: none;
  margin: 0 0 1em;
  padding: 0;
}

.related-resource + .related-resource {
  border-top: 1px solid $gray-lightest;
  margin-top: .3em;
  padding-top: .3em;
}

.related-resource .actions {
  display: block;
  line-height: 3;
}
