.emphatic-action-area {
  padding-top: 2em;
  text-align: center;

  a {
    font-family: $serif-font-family;
    font-size: 2em;
    padding: .5em;
  }
}

.home .emphatic-action-area {
  padding-bottom: 8em;
}

