@import 'global-variables';

.emphatic-action {
  border-radius: 0;
  font-family: $header-font-family;
  font-size: 2em;
  margin-top: .5em;
  padding: .8em .7em;

  &.with-chevron {
    padding-right: 2.2em;
    position: relative;
  }

  .chevron-wrapper {
    display: inline-block;
    height: 1.3em;
    position: absolute;
    right: .4em;
    top: .4em;
    width: 1.3em;
  }
}

@media (min-width: 960px) {
  .emphatic-action {
    margin-top: 1em;
  }
}

// Homepage-specific Theme
.site-features .emphatic-action-wrapper {
  max-width: 100%;
}

.emphatic-action-wrapper {
  text-align: center;
}

@media (min-width: 768px) {
  .emphatic-action-wrapper {
    text-align: left;
  }
}

.site-features .btn-primary.emphatic-action {
  background: $official-blue-dark;
}

.site-features .dark-blue .btn-primary.emphatic-action {
  background: $official-gold;
  border-color: $official-gold-accent;
  color: $white;
}

