// Link in sidebar
.svg-icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  width: 1em;
  float: right;
}

.svg-icon-filter {
  color: $official-blue;
}

.facets .expandable_new {
  position: relative;
}

.hierarchy-facet + svg {
  position: absolute;
  right: 7px;
  top: 8px;
}

.facet-hierarchy {
  clear: both;
  margin: 0;
  padding-bottom: 1.5em;
  width: 100%;

  .count,
  .remove,
  .see-all {
    display: inline-block;
    font-size: 14px;
    line-height: 2;
    position: absolute;
    z-index: 1;
  }

  .count {
    right: 2px;
    top: 6px;
  }

  .see-all {
    right: 4px;
    top: 6px;
  }

  .remove {
    left: -13px;
    top: 8px;
  }

  .facet_select {
    display: block;
    padding: 2px;

    &:active,
    &:hover {
      background-color: $gray-faint;
      text-decoration: none;
    }
  }

  .selected {
    display: block;
    padding: 2px;
    position: relative;
  }


  .h-node, .h-leaf {
    line-height: 1.2;
    position: relative;
  }

  ul {
    padding-bottom: 5px;
  }

  & > .h-leaf,
  & > .h-node .h-node,
  & > .h-node .h-leaf {
    list-style-type: none;

    .facet_select,
    .selected {
      font-size: 20px;
    }

    .count {
      top: 0;
    }

    .remove {
      left: -15px;
      top: 0;
    }
  }

  & > .h-node {
    list-style-type: none;

    & > .facet_select,
    & > .selected {
      border-width: 0 0 2px;
      border-style: solid;
      border-color: $gray-lightest;
      color: $official-blue;
      font-size: 24px;
      margin-bottom: 3px;
      padding-bottom: 4px;
      padding-top: 6px;
    }

    .h-node .h-leaf {
      list-style-type: square;

      .facet_select,
      .selected {
        font-size: 16px;
      }

      .remove {
        left: -19px;
        top: -2px;
      }
    }
  }

  &.collapsible {
    & .h-node > .facet_select,
    & .h-node > .selected {
      border-width: 1px;
      padding-left: 6px;
    }
    .btn-sm.see-all {
      line-height: 20px;
    }
  }

  .h-node .facet_select.can-collapse {
    padding-left: 20px;
    position: relative;
  }

  .facet_select.can-collapse:before {
    border-color: transparent transparent transparent $official-blue;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    content: '';
    left: 6px;
    position: absolute;
    top: 16px;
  }

  .can-collapse.expanded:before {
    border-color: $official-blue transparent transparent transparent;
    border-width: 10px 5px 0 5px;
    left: 6px;
    top: 16px;
  }
}

.hierarchy + .hierarchy {
  padding-left: 1em;
  position: relative;

  &:before {
    content: '❯';
    left: .3em;
    opacity: .35;
    position: absolute;
  }
}

.hierarchical-value-list {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.hierarchical-facet-page {
  .modal-header {
    display: none;
  }

  .modal-body {
    padding: 0;
  }
}
