.input-xxxlarge {
  box-sizing: border-box;
  width: 100%;
}

legend small {
  margin-left: .5em;
}

.label-checkbox .label-text {
  display: block;
  padding-left: 1.2em;
}

.form-group.has-error input,
.form-group.has-error option,
.form-group.has-error textarea {
  color: $gray-dark;
}

.form-actions {
  .btn-link {
    color: $blue;
  }

  .action-annotation {
    padding-left: 1em;
  }
}

.form-slimline {
  margin-bottom: 0;

  input {
    margin-bottom: 0;
  }
}

.control-label {
  display: block;
  label { display: inline; }

  &.required {
    abbr {
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}

.form-group .inline {
  display: inline-block;
}

.field-choice {
  font-size: 1.3em;
  line-height: 1;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}

.accept-contributor-agreement {
  padding-top: 1em;

  input,
  label {
    font-size: 1.3em;
  }
}

.edit-related-works {
  .token-input-list-facebook {
    float: left;
  }

  .btn {
    margin: 1em 0 0;
  }
}

@media (min-width: 980px){
  .edit-related-works {
    .btn {
      margin: 0 0 0 1em;
    }
  }
}

.button-to {
  margin: 0 .3em;
}

.inline-checkbox {
  display: inline-block;
  padding-right: 1em;
}
