.field-hint {
  display: block;
  margin-bottom: .5em;
  max-width: 40em;
}

.help-toggle,
.help-toggle:focus,
.help-toggle:hover {
  text-decoration: none;
}

.help-toggle .help-icon {
  margin-bottom: -2px;
}
