.field-hint {
  display:block;
  max-width:40em;
  margin-bottom:.5em;
}

.help-toggle,
.help-toggle:focus,
.help-toggle:hover {
  text-decoration:none;
}

.help-toggle .help-icon {
  margin-bottom:-2px;
}
