.js #image-viewer-content {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.js #image-viewer {
  height: 400px;
  border: 1px solid $gray-lighter;
}
