.js {
  #image-viewer-content {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #image-viewer {
    background: $black;
    border: 3px solid $black;
    height: 400px;
  }

  .leaflet-control-attribution {
    display: none;
  }
}
