@import 'global-variables';

.page-main.licenses {
  border-bottom: 1px solid $gray-faint;
}

.licenses-page-header {
  padding: 1em;
  text-align: center;
}

@media (max-width: 550px) {
  .licenses-page-header h2 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0;
  }
}

.licenses-wrapper {
  padding: 0 1em 1em;
}

.licenses-content {
  background-color: white;
  border: 1px solid $gray-faint;
  box-sizing: border-box;
  margin: 2em auto 0;
  max-width: 62em;
  padding: 0 1em 1em;

  h2 {
    margin-top: 1.5em;
  }

  ul {
    margin: 0;
    padding-left: 1.5em;
    list-style: none;
  }

  li {
    font-size: 18px;
    line-height: 1.6;
  }

  dt {
    color: $official-blue;
    font-family: $header-font-family;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.4;
    border-bottom: 1px solid $gray-faint;
    margin: 1.5em 0 .5em;
  }

  dd {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 1em;
    margin-left: 0;
  }

  p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 1em;
    margin-left: 0;
  }
}

@media (min-width: 400px) {
  .licenses-content {
    padding: 0 2em 2em;
    margin-bottom: 2em;
  }
}

@media (min-width: 768px) {
  .licenses-content {
    padding: 0 4em 4em;
    margin-bottom: 6em;
  }
}

@media (min-width: 900px) {
  .licenses-page-header {
    padding: 32px 1em;
  }
}
