@import 'global-variables';

.footnotes {
  margin-bottom: 2em;

  &:before {
    border-bottom: 1px solid $gray-light;
    content: '';
    display: block;
    margin-bottom: .5em;
    margin-left: -25px;
    width: 25px;
  }

  p {
    margin-bottom: 0;
  }
}
