.footnotes {
  margin-bottom:2em;

  &:before {
    border-bottom: 1px solid #999;
    content: '';
    display: block;
    margin-left: -25px;
    margin-bottom: .5em;
    width: 25px;
  }
  p {
    margin-bottom: 0;
  }
}
