.search-results-grid {
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.grid-tile {
  border: 1px solid $gray-lightest;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 10px 5px 5px;
  position: relative;
  width: 140px;
}

@media (min-width: 768px) {
  .grid-tile {
    width: 200px;
  }
}

.tile-thumbnail {
  padding: 5px 0;

  a {
    display: inline-block;
  }

  .canonical-image {
    max-height: 100%;
    max-width: 100%;
  }

  // .thumbnail-wrapper is a fixed size because I couldn’t figure out how to make
  // a fluid container that supported vertical centering and still maintained the
  // image aspect ratio
  .thumbnail-wrapper {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    width: 140px;
  }
}


@media (min-width: 768px) {
  .tile-thumbnail .thumbnail-wrapper {
    height: 200px;
    width: 200px;
  }
}

.tile-title {
  margin: .5em;

  p {
    margin-bottom: 0;
  }
}

.tile-actions-menu {
  display: block;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.tile-actions {
  background-color: rgba(255, 255, 255, .8);
  display: none;
  padding: 2px;

  .modal {
    top: 100px;
  }
}

.tile-menu-toggle.btn {
  display: inline-block;
  padding: 4px;

  svg {
    margin-top: 2px;
  }
}

.focus .tile-actions {
  display: inline-block;
}

.no-js {
  .grid-tile {
    padding-top: 5px;
  }

  .tile-actions-menu {
    position: relative;
    right: auto;
    top: auto;
  }

  .tile-menu-toggle {
    display: none;
  }

  .tile-actions {
    display: block;
  }
}

.no-flexbox {
  .grid-tile {
    display: inline-block;
  }

  .thumbnail-wrapper {
    text-align: center;
  }
}

