.search-form {
  position: relative;

  .search-query,
  .search-submit {
    box-sizing: border-box;
  }

  .search-query {
    border-radius: $input-border-radius;
    height: 2.1em;
    padding-left: .6em;
    padding-right: 12%;
    width: 100%;
  }

  .search-submit {
    bottom: 2px;
    padding: 2px;
    position: absolute;
    right: 2px;
    text-align: center;
    white-space: nowrap;
    width: 9%;
  }
}

.search-query-list {
  line-height: 1.5em;
  margin-bottom: .3em;
  padding-left: 1em;

  // Renders the blue outer circle for the active item
  .active-item::before {
    content: "•";
    float: left;
    margin-left: -25px;
    font-size: 4em;
    color: #3b99fc;
  }

  // Removes the normal list item bullet from active items
  .active-item {
    display: block;
    line-height: 1.7em;
  }

  // Renders the grey outer circle for the inactive item
  .inactive-item::before {
    content: "•";
    float: left;
    margin-left: -25px;
    font-size: 4em;
    color: #d3d3d3;
  }

  // Removes the normal list item bullet from inactive items
  .inactive-item {
    display: block;
    line-height: 1.7em;
  }
}

.search-results .search-form {
  margin-bottom: 10px;
  max-width: 30em;
  padding-top: .5em;

  .search-query,
  .search-submit {
    font-size: 18px;
  }
}
