<% content_for :page_header do %>
  <h1>Admin view of Whitelist</h1>
<% end %>

<%= paginate @admin_user_whitelists %>
<table class="table table-striped">
  <caption class="accessible-hidden">List of All Whitelisted Usernames</caption>
  <thead>
    <tr>
      <th>Username</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_user_whitelists.each do |admin_user_whitelist| %>
      <tr>
        <td><%= link_to admin_user_whitelist.username, edit_admin_user_whitelist_path(admin_user_whitelist) %></td>
        <td><%= link_to 'Destroy', admin_user_whitelist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User whitelist', new_admin_user_whitelist_path %>
