<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @admin_user_whitelist.username %>
</p>

<%= link_to 'Edit', edit_admin_user_whitelist_path(@admin_user_whitelist) %> |
<%= link_to 'Back', admin_user_whitelists_path %>
