<% the_collection_is_my_profile = ( current_user.profile.present? && ( current_user.profile.pid == collection.id )) %>
<tr>
  <td>
    <% if the_collection_is_my_profile %>
      <% title = "My Profile" %>
    <% else %>
      <% title = render_index_field_value( collection, field: 'desc_metadata__title_tesim') %>
    <% end %>
    <%= link_to title, collection_path(collection) %>
  </td>
  <td>
    <% if can? :edit, collection %>
      <%= link_to "Edit", edit_collection_path(collection), class: 'btn btn-default pull-right' %>
    <% end %>
  </td>
</tr>
