<h1>Unauthorized</h1>
<p>Access to this collection is restricted.</p>
<p>ID: <%= @collection.noid %></p>
<p><%= render partial: 'permission_badge', locals: { curation_concern: @collection, show_date: true } %></p>
<% unless current_user %>
  <p>If you think you should have access, please try logging in.</p>
  <%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary login', role: 'menuitem' %>
<% end %>
