<% content_for :page_header do %>
  <h1>Admin Landing Page</h1>
<% end %>

<p>Helpful links</p>
<ul>
  <li><%= link_to 'Resque queue', admin_resque_server_path %></li>
  <li><%= link_to 'Accounts', admin_accounts_path %></li>
  <li><%= link_to 'Announcements', admin_announcements_path %></li>
</ul>
