/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'style/fonts'
 *= require 'global-variables'
 *= require 'curate'
 *= require 'style/nd-theme'
 *= require_self
 */

/* Inline form fields */
.control-group.inline input {
  padding-bottom:.1em;
  padding-top:.1em;
  margin-bottom:0;
}

.thumbnail {
  border: none;
  box-shadow: none;
  padding-top: 10px; 
  background: none;
}
