/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'style/fonts'
 *= require 'global-variables'
 *= require 'curate'
 *= require 'style/nd-theme'
 *= require 'style/nd-theme-print'
 *= require 'modules/admin'
 *= require 'modules/announcements'
 *= require 'modules/emphatic-action'
 *= require 'modules/grant-temporary-access'
 *= require 'modules/home'
 *= require 'modules/masquerade_controls'
 *= require 'modules/policies'
 *= require 'modules/text-overlay'
 *= require 'colorbox'
 *= require_self
 */

// Inline form fields
.control-group.inline input {
  margin-bottom: 0;
  padding-bottom: .1em;
  padding-top: .1em;
}

.thumbnail {
  background: none;
  border: 0;
  box-shadow: none;
  padding-top: 10px;
}

// Modal dialog fix
.js .modal {
  display: none;
}
