<footer id="footer" class="container">
  <div class="row">
    <div class="span6 footer-left">
      <p>
      CurateND is a service of the <a href="http://library.nd.edu">Hesburgh Libraries of Notre Dame</a>.
      </p>
      <p>Technical Support call <a href="tel:5746316258">(574) 631-6258</a>  or email <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=curate@nd.edu" target="_blank">curate@nd.edu</a>.
      </p>
      <p>
        <a href="http://www.nd.edu/copyright/">Copyright</a> <%= Time.now.year %> <a href="http://www.nd.edu">University of Notre Dame</a>
      </p>

      <!-- Build: <%= Rails.configuration.build_identifier %> -->
    </div>
    <div class="span6 footer-right">
      <a href="http://library.nd.edu"> <img alt="University of Notre Dame Hesburgh Libraries" class="hesburgh-logo" src="/assets/full-color-mark.png" title="Hesburgh Libraries"></a>
    </div>
  </div>
</footer>
