<footer id="footer" class="container">
  <div class="row">
    <div class="span6 footer-left">
      <p>
      CurateND is a service of the <a href="http://library.nd.edu">Hesburgh Libraries of Notre Dame</a>.
      </p>
      <p>
        <a href="http://www.nd.edu/copyright/">Copyright</a> <%= Time.now.year %> <a href="http://www.nd.edu">University of Notre Dame</a>
      </p>
      <!-- Build: <%= Rails.configuration.build_identifier %> -->
    </div>
    <div class="span6 footer-right">
      <a href="http://library.nd.edu"> <%= image_tag('full-color-mark.png', class: "hesburgh-logo", alt: "University of Notre Dame Hesburgh Libraries", title: "Hesburgh Libraries") %></a>
    </div>
  </div>
</footer>
