<% content_for :page_title, construct_page_title('Repository Manager') %>
<% content_for :page_header, content_tag(:h1, 'Act As A Repository Manager') %>
<%= simple_form_for @repo_manager do |f| %>
  <fieldset class="edit-repo-manager" >
    <p class="alert alert-info">
      A repository manager has permission to view and alter <em>everything</em> in CurateND.
      <em>Please be careful.</em>
    </p>
    <% {'Yes, I want additional power and responsibility' => true, 'No, I will continue to use CurateND normally' => false}.each do |key, value| %>
      <div class="radio">
        <label>
          <%= f.radio_button(:active, value) %>
          <%= key %>
        </label>
      </div>
    <% end %>
  </fieldset>
<%= f.submit 'Update Status', class: 'btn btn-primary' %>
<% end %>
