@import 'global-variables';
@import 'modules/help_text';

body {
  padding: 0;
}

.page-banner {
  border-bottom: 1px solid rgba(100, 100, 100, .7);
}

// Brand Bar
.brand-bar-wrapper {
  background-color: $official-blue;
  background-image: none;
  border-bottom: 0;
  margin: 0;
  padding: 0;

  i {
    padding: 0 .1em;
  }
}

.top-link {
  display: inline-block;
  font-size: .5em;
  padding: 2px 2px 0;
}

.top-link a,
.top-link a:hover,
.top-link a:visited {
  color: $white;
}


.division i {
  padding-right: .25em;
  word-spacing: .3em;
}

@media (min-width: 600px) {
  .top-link {
    font-size: 1em;
    line-height: 3;
    padding: 0 .1em;
  }

  .brand-bar-wrapper i {
    padding: 0 .2em;
  }
}

@media (min-width: 768px) {
  .top-link {
    padding: 0;
  }
}

// Title Bar
.title-bar-wrapper {
  background-color: $official-blue-dark;
  background-image: none;
  border-top: 0;
  margin: 0;
  padding-bottom: 7px;

  .row {
    padding: .5em .5em 0;
  }
}


@media (min-width: 768px) {
  .title-bar-wrapper .row {
    padding: .5em 0 0;
  }
}

$logo-width: 221;
$logo-height: 48;

.home-link {
  display: block;
  margin: 1em 0;
  padding: 0;
  padding-top: percentage(($logo-height / $logo-width * 40) / 100);
  position: relative;
  width: 40%;

  .curate-nd-logo {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (min-width: 545px) {
  .home-link {
    padding-top: 45px;
    width: 200px;
  }
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: $official-blue;
}

// Action Bar
.action-bar {
  padding-top: 1em;
}

.site-title {
  margin-bottom: -1em;
  padding-top: 2px;
}

.site-search {
  display: inline-block;
  margin-bottom: 7px;
  width: 100%;

  .search-form {
    margin: 0 0 3px;
    width: 100%;
  }
}


@media (min-width: 545px) {
  .site-search {
    margin-bottom: 0;
    width: 18.6em;
  }
}

.search-form {
  .search-query {
    -webkit-appearance: none;
  }

  .search-submit {
    background-color: transparent;
    border: 0;
    height: 1.8em;
    width: 2em;
  }

  .search-icon {
    height: 100%;
  }
}

// Accordion Overrides
.panel-heading {
  background-color: $table-background-accent;

  h3 {
    margin: 0;
  }
}


// Custom required field indicator
.form-group {
  margin-left: .7em;
  position: relative;
}

.control-label .required-indicator {
  border-bottom: 0;
  color: $red;
  left: -1.3em;
  position: absolute;
  top: 0;
}


// Fix all icon buttons
.btn-primary {
  .icon-folder-open {
    background-image: none;
    padding-left: 16px;
    width: auto;

    &:before {
      content: ' ';
      height: 16px;
      width: 16px;
    }
  }
}

// Fix whitespace for abstract text on show pages
.attribute.abstract {
  white-space: pre-line;
}

.research-ids {
  .form-group.string.optional {
    display: inline-block;
  }
}

// Footer formatting
.page-footer {
  padding: 1em 1em 4em;
  text-align: left;

  .footer-right {
    text-align: right;

    .hesburgh-logo {
      width: 180px;
    }
  }
}

.help-report-a-problem {
  margin: .5em .5em .5em 0;
}

@media (min-width: 768px) {
  .page-footer {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .page-footer {
    .footer-right {
      margin-top: 2em;
      text-align: center;
    }
  }
}


// Terms of Service
.terms-of-service-form .btn {
  max-width: 80%;
  white-space: normal;
}

.tos-agree {
  background-color: $official-gold;
  background-image: none;
  border-color: $official-gold-accent;
  border-radius: 0;
  border-width: 0 0 2px;
  color: $official-blue;
  font-weight: bold;
  letter-spacing: .1em;
  text-shadow: none;
  text-transform: uppercase;
}

.main-header a {
  color: $official-blue;
}
