@import 'compass';
@import 'global-variables';

body {
  padding:0;
}

#banner {
  border-bottom:1px solid rgba(100, 100, 100, 0.7);
}

/* Brand Bar */
#brand-bar-wrapper {
  background-color:#002b5b;
  background-image:none;
  border-bottom:none;
  padding:0;
  margin:0;
}
.top-link {
  display:inline-block;
  font-size:.5em;
  padding:2px 2px 0;
}
.top-link a,
.top-link a:hover,
.top-link a:visited {
  color:#FFF;
}
#brand-bar-wrapper i {
  padding:0 .1em;
}
.division i {
  word-spacing:.3em;
  padding-right:.25em;
}
@media (min-width: 600px) {
  .top-link {
    font-size:1em;
    line-height:3;
    padding:0 .1em;
  }
  #brand-bar-wrapper i {
    padding:0 .2em;
  }
}
@media (min-width: 768px) {
  .top-link {
    padding:0;
  }
}

/* Title Bar */
#title-bar-wrapper {
  background-color:#001f42;
  background-image:none;
  border-top:none;
  margin:0;
  padding-bottom:1em;
}
#title-bar-wrapper .row {
  padding:0 1em;
}
@media (min-width: 768px) {
  #title-bar-wrapper .row {
    padding:0;
  }
}
$logo_width: 221;
$logo_height: 48;

#home-link {
  display:block;
  width:40%;
  position:relative;
  padding:0;
  padding-top: percentage(($logo_height / $logo_width * 40) / 100);
  margin:1em 0;
}
@media (min-width: 545px) {
  #home-link {
    width:200px;
    padding-top:45px;
  }
}
#home-link .CurateND-logo {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

/* Action Bar */

#title-bar-wrapper #action-bar {
  padding-top:1em;
}
#site-title {
  padding-top:2px;
  margin-bottom:-1em;
}
#site-search {
  display:inline-block;
  width:100%;
  margin-bottom:1em;
}
#site-search .search-form {
  margin:0;
  width:100%;
}
@media (min-width: 545px) {
  #site-search {
    width:18.6em;
    margin-bottom:0;
  }
}
#catalog_search {
  -webkit-appearance:none;
}
#site-actions {
  display:inline-block;
  float:right;

  .btn {
    background-color:#dcb439;
    background-image:none;
    color:#002b5b;
    font-weight:bold;
    text-shadow:none;
    border-width:0 0 2px;
    border-color:#9c802e;
    text-transform:uppercase;
    letter-spacing:.1em;
  }
  .btn,
  .dropdown-menu {
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
  }
  .caret {
    border-top-color:#002b5b;
  }
}
.search-form {
  .search-submit {
    background-color:transparent;
    border:none;
    height:1.8em;
    width:2em;
  }
  .search-icon {
    height:100%;
  }
}
#site-actions {
  margin: 0;
  padding:0;
  .dropdown-menu {
    min-width:168px;
  }
}
@media (min-width: 768px) {
  #site-actions {
    padding:0;
  }
  #site-search .search-form {
    margin: 0;
  }
}

/* Accordion Overrides */
.accordion-heading {
  background-color:$tableBackgroundAccent;

  h3 {
    margin:0;
  }
}


/* Custom required field indicator */
.control-group {
  margin-left:.7em;
  position:relative;
}

.control-label .required-indicator {
  border-bottom:none;
  color:$red;
  left:-1.3em;
  position:absolute;
  top:0;
}


/* Pills Overrides */
.action-bar .nav > li > a {
  border-color:transparent;
  border-style:solid;
  border-width:1px;
}

.action-bar .nav > li > a:hover {
  background-color:#EFDA88;
  border-color:#EFDA88;
}

.action-bar .nav-pills > .active > a,
.action-bar .nav-pills > .active > a:hover {
  @include background-image(linear-gradient(#F5E59E, $yellow 98%, #9C7012));
  background-color:$yellow;
  border-color:#C59B2B #A17515 #A17515 #C59B2B;
  color:$blue;
}

/* fix all icon buttons */
.btn-primary {
  [class^="icon-"], [class*=" icon-"],  {
    background-image: url($iconWhiteSpritePath) !important;
  }
  .icon-folder-open:before,  {
    background-image: url($iconWhiteSpritePath) !important;
    background-position: -408px -120px;
    width: 16px;
    height: 16px;
    content: " ";
  }
  .icon-folder-open,  {
    background-image: none;
    width: auto;
    padding-left: 16px;
  }
}

/* FAQs */
.curatend-faqs {
  dd {
    margin-bottom: 1rem;
  }
}

/* fix whitespace for abstract text on show pages. */
li.attribute.abstract {
  white-space: pre-line;
}

.research-ids {
  .control-group.string.optional {
    display: inline-block;
  }
}

/* footer formatting */
#footer {
  text-align: left;
  padding:1em;
  .footer-right {
    text-align: right;
    .hesburgh-logo {
      width: 180px;
    }
  }
}
@media (min-width: 768px) {
  padding:0;
}
@media (max-width: 767px) {
  #footer {
    .footer-right {
      margin-top: 2em;
      text-align: center;
    }
  }
}


@media print {
  #banner a[href]:after,
  #footer p:nth-child(2) a[href]:after,
  .footer-right a[href]:after {
    content:"";
  }
  #brand-bar-wrapper {
    display:none;
  }
  .CurateND-logo path {
    fill:#000;
  }
}

