.search {
  .alert {
    padding-right: 14px;

    .applied-filter {
      padding-right: 14px;
    }

    div {
      display: inline;
      float: right;
    }

    .clear-break {
      clear: both;
      display: block;
      float: none;
      height: 0;
    }
  }
}

.search-result:first-child {
  clear: both;
}

.sort-and-per-page {
  margin: 0;
  padding: 0;
}
